<div class="dgt-stats-panel">
  <div class="dgt-stats-totals">
    <table class="dgt-stats-totals-table">
      <tr *ngFor="let row of panel.stats | keyvalue; index as i;"
          [ngClass]="{'dgt-stats-totals-last-row': i == (panel.stats.size-1)}">

        <th [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-padding-right-xl">{{row.key | galaxyNameFormatter}}</th>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xxs dgt-padding-left-xs">
          <div class="dgt-resource resource metal">
            <fa-icon [icon]="['fas','coins']" [style]="{color: '#ccc'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.metalStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource metal">
            <span class="dgt-value">{{row.value.resources.metalProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource mineral">
            <fa-icon [icon]="['fas','cubes']" [style]="{color: '#ff8484'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.mineralStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource mineral">
            <span class="dgt-value">{{row.value.resources.mineralProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource food">
            <fa-icon [icon]="['fas','carrot']" [style]="{color: '#7bbd1a'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.foodStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource food">
            <span class="dgt-value">{{row.value.resources.foodProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource energy">
            <fa-icon [icon]="['fas','bolt']" [style]="{color: '#0ca1e1'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.energyStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xl">
          <div class="dgt-resource resource energy">
            <span class="dgt-value">{{row.value.resources.energyProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td small dgt-padding-left-xs dgt-padding-right-xs">
          <div class="dgt-resource resource ground">
            <fa-icon [icon]="['fas','tree-city']" [style]="{color: '#fff'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.ground | number:'1.0':'en-US'}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td small dgt-padding-right-xl">
          <div class="dgt-resource resource orbit">
            <fa-icon [icon]="['fas','satellite']" [style]="{color: '#fff'}"></fa-icon>
            <span class="dgt-value">{{row.value.resources.orbit | number:'1.0':'en-US'}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs dgt-padding-left-xs">
          <div class="dgt-resource resource soldier">
            <fa-icon [icon]="['fas','person-rifle']" [style]="{color: '#DF4A4AFF'}"></fa-icon>
            <span class="dgt-value">{{row.value.soldiers.total | number:'1.0':'en-US'}}</span>
          </div>
        </td>

      </tr>
    </table>
  </div>
</div>
