.dgt-navbar {
    display: inline-table;
    width: 100%;
}

.dgt-navbar-tab-container {
    list-style-type: none;
    padding: 0 !important;
    display: flex;
}

.dgt-navbar-tab {
    float: left;
    flex: auto;
    background: rgba(75, 75, 75, 0.6);
}

.dgt-navbar-tab fa-icon {
    color: #eee;
}

.dgt-navbar-tab-text {
    font-family: DarkGalaxy, sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #eee;
    text-transform: uppercase;
}

.dgt-navbar-tab-link {
    width: 100%;
    display: block;
}
