<div class="dgt-navbar">
    <ul class="dgt-navbar-tab-container">
        <li [tabName]="'home'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','house-chimney']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">home</span>
            </a>
        </li>
        <li [tabName]="'planets'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/planets" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','earth-americas']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">planets</span>
            </a>
        </li>
        <li [tabName]="'radar'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/radar" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','satellite-dish']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">radar</span>
            </a>
        </li>
        <li [tabName]="'fleets'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/fleets" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','jet-fighter-up']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">fleets</span>
            </a>
        </li>
        <li [tabName]="'navigation'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/navigation" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','chess-board']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">navigation</span>
            </a>
        </li>
        <li [tabName]="'research'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/research" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','flask-vial']" [style]="{color: '#eee'}"></fa-icon>
                <span class="dgt-navbar-tab-text">research</span>
            </a>
        </li>
        <li [tabName]="'alliances'" dgtActiveTab class="dgt-navbar-tab">
            <a href="/alliances" class="dgt-navbar-tab-link">
                <fa-icon [icon]="['fas','hand-fist']" [style]="{color: '#eee'}"></fa-icon>
                <fa-icon [icon]="['fas','person-digging']" [style]="{color: '#ffdc2d'}"></fa-icon>
                <span class="dgt-navbar-tab-text">alliances</span>
            </a>
        </li>
    </ul>
</div>
