input,
textarea {
  height: 25px;
  font-size: 11px;
  background: rgba(0, 0, 0, .35);
  color: #fff;
  border: 1px solid #555555;
  text-align: left;
  margin: 0;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px 3px 5px;
  overflow: hidden;
  float: left;
}

textarea {
  padding: 5px !important;
}

.target > input {
  width: 75px;
  margin-right: 20px;
}

.wait > input {
  width: 30px;
  margin-right: 20px;
}

.instructions > textarea {
  margin-right: 18px;
  width: 310px;
}

.create > button {
  width: 80px !important;
  cursor: pointer;
  border: 1px solid #6a6a6a !important;
}

span {
  float: left;
  line-height: 23px;
  margin-right: 5px;
}

.dgt-orders-launcher {
  padding: 5px;
  width: calc(100% - 10px);
}

.dgt-orders-manager-member {
  background: rgba(87, 87, 87, 0.72);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.dgt-orders-history-details {
  width: 100%;
}

.dgt-orders-manager-member > .name {
  padding: 5px;
  width: calc(100% - 10px);
  float: left;
  border-bottom: 1px solid rgba(0,0,0,.25);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffd46f;
}

.dgt-orders-manager-panel,
.dgt-orders-manager-panel div {
  float: left;
}

.dgt-orders-history-details {
  border: 1px solid #fff;
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.dgt-orders-history-details span.label {
  margin-right: 5px;
}

.dgt-orders-history-details span.value {
  margin-right: 20px;
}

.dgt-orders-history .target {
  min-width: 135px;
}

.dgt-orders-history .wait {
  min-width: 70px;
}

.delete button {
  margin-right: 10px;
  padding: 0;
  border: none;
  margin-left: 10px;
  border-radius: 100px;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
}


.delete button fa-icon {
  color: #7a7a7a;
  font-size: 20px !important;
}

.delete button:hover fa-icon {
  color: #e46045 !important;
}

fa-icon.complete {
  color: #7BBD1A
}

fa-icon.in-progress {
  color: #e46045;
}

.status {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  color: #7a7a7a;
}
