<form id="dgt-orders-panel-data-form">
  <table class="dgt-orders-table">
    <tbody>
      <tr class="dgt-orders-data">
        <td class="target-label"><span>Target:</span></td>
        <td class="galaxy"><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, \'\').replace(/(\\..*?)\\..*/g, \'$1\').replace(/^0[^.]/, \'0\');" /></td>
        <td class="sector"><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, \'\').replace(/(\\..*?)\\..*/g, \'$1\').replace(/^0[^.]/, \'0\');" /></td>
        <td class="system"><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, \'\').replace(/(\\..*?)\\..*/g, \'$1\').replace(/^0[^.]/, \'0\');" /></td>
        <td class="planet"><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, \'\').replace(/(\\..*?)\\..*/g, \'$1\').replace(/^0[^.]/, \'0\');" /></td>
        <td class="wait-label"><span>Wait:</span></td>
        <td class="wait"><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, \'\').replace(/(\\..*?)\\..*/g, \'$1\').replace(/^0[^.]/, \'0\');" /></td>
        <td class="wait-label"><span>Comment:</span></td>
        <td class="wait"><textarea placeholder="Ex: minim 100 fighters"></textarea></td>
        <td class="submit"><button>Send</button></td>
      </tr>
    </tbody>
  </table>
</form>

