<div class="dgt-orders-manager-panel">
  <div class="dgt-orders-manager-member" *ngFor="let member of allianceMembers">
    <div class="name"><span>{{member}}</span></div>
    <div class="dgt-orders-launcher">
      <div class="target"><input type="text" ngModel name="target"/></div>
      <div class="wait"><input type="text" ngModel name="wait"/></div>
      <div class="instructions"><textarea ngModel name="instructions"></textarea></div>
    </div>

    <div class="dgt-orders-history">
      <div class="dgt-orders-history-details" *ngFor="let order of (orders.get(member.toLowerCase()) | async)">
        <div class="delete"><fa-icon [icon]="['far','circle-xmark']" [style]="{color: '#fff'}"></fa-icon><button></button></div>
        <div class="target"><span>{{order.target}}</span></div>
        <div class="wait"><span>{{order.wait}}</span></div>
        <div class="instructions"><span>{{order.instructions}}</span></div>
      </div>
    </div>
  </div>
</div>

<form id="dgt-orders-panel-data-form" (ngSubmit)="onSubmit()" #dgtOrdersForm="ngForm">
  <table class="dgt-orders-table">
    <tbody>
    <tr class="dgt-orders-data">
      <td class="galaxy"><input type="text" ngModel name="galaxy"/></td>
      <td class="sector"><input type="text" ngModel name="sector"/></td>
      <td class="system"><input type="text" ngModel name="system"/></td>
      <td class="planet"><input type="text" ngModel name="planet"/></td>
      <td class="wait"><input type="text" ngModel name="wait"/></td>
      <td class="user"><input type="text" ngModel name="user"/></td>
      <td class="instructions"><textarea placeholder="Ex: minim 100 fighters" ngModel name="instructions"></textarea></td>
      <td class="submit">
        <button type="submit">Send</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>

