input,
textarea {
  height: 28px;
  font-size: 12px;
  background: rgba(0, 0, 0, .40);
  color: #fff;
  border: none !important;
  text-align: left;
  margin: 0;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
}

textarea {
  padding: 5px !important;
}

.target > input {
  width: 75px;
  margin-right: 20px;
}

.wait > input {
  width: 30px;
  margin-right: 20px;
}

.instructions > textarea {
  margin-right: 5px;
  width: 372px;
}

span.target,
span.wait,
span.instructions {
  float: left;
  line-height: 26px;
  margin-right: 5px;
}

.dgt-orders-launcher {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.dgt-orders-manager-member {
  background: rgba(87, 87, 87, 0.72);
  width: calc(100% - 10px);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.dgt-orders-manager-member .player {
  width: calc(100% - 10px);
  float: left;
  border-bottom: 1px solid rgba(0,0,0,.25);
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.dgt-orders-manager-member .name {
  font-size: 16px;
  color: #ffffffad;
  float: left;
}

.dgt-orders-manager-member .note {
  color: #ffffffad;
  font-weight: normal !important;
  float: right;
}

.dgt-orders-manager-member .kick-eta {
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
  color: #ffffffad;
  font-weight: normal !important;
  float: left;
}

.dgt-orders-manager-panel,
.dgt-orders-manager-panel div {
  float: left;
}

.dgt-orders-history-details {
  border: 1px solid transparent;
  width: calc(100% - 12px);
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 5px;
}

.dgt-orders-history-details span {
  line-height: 22px;
}

.dgt-orders-history-details span.label {
  margin-right: 5px;
}

.dgt-orders-history-details span.value {
  color: #ffffffad;
  margin-right: 20px;
}

.dgt-orders-history-details.executed {
  background: #7BBD1A3D;
}

.dgt-orders-history-details.in-progress {
  background: #FF3B303B;
}

.dgt-orders-history {
  width: calc(100% - 10px) !important;
  border-top: 1px solid rgba(0,0,0,.25);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.dgt-orders-history .label {
  color: #ffffffad;
  font-weight: normal;
}

.dgt-orders-history .target {
  min-width: 135px;
}

.dgt-orders-history .wait {
  min-width: 70px;
}

.create > button,
.note-update button,
.dgt-orders-manager-kick button,
.delete button {
  margin: 0 !important;
  padding: 0;
  border: none;
  border-radius: 100px;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
}

.dgt-orders-manager-kick button {
  margin-left: 5px !important;
}

.dgt-orders-manager-kick button fa-icon {
  color: #a2a2a2 !important;
  font-size: 14px !important;
  line-height: 22px;
}

.dgt-orders-manager-kick button:hover fa-icon {
  color: #ffffffcf !important;
}

.delete {
  float: right !important;
  margin-right: 2px;
}

.delete button fa-icon {
  color: #c8a960a1 !important;
  font-size: 16px !important;
  line-height: 22px;
}


.delete button:hover fa-icon {
  color: #ffd46fd4 !important;
}

.note-update button {
  height: 22px;
}

.create button {
  height: 28px;
}

.note-update button fa-icon,
.create button fa-icon {
  color: #a2a2a2 !important;
  font-size: 20px !important;
  line-height: 22px;
}

.note-update button:hover fa-icon,
.create button:hover fa-icon {
  color: #ffffffcf !important;
}

.note-update {
  float: right !important;
}

.note-update .label {
  float: left;
  font-weight: normal;
  line-height: 22px;
  margin-right: 5px;
}

.note-update form {
  float: left;
}

.note-update input {
  height: 22px;
  margin-right: 5px;
  border-radius: 4px;
}

span.note {
  line-height: 20px;
}

.dgt-orders-manager-panel.user span.name {
  color: #ffffffad !important;
  font-weight: normal !important;
  width: 35% !important;
  font-size: 1em !important;
}

.dgt-orders-manager-panel.user .player {
  margin-bottom: 0 !important;
}

.dgt-orders-manager-panel.user .dgt-orders-manager-member {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-bottom: 0 !important;
}

.dgt-orders-manager-panel.user .dgt-orders-manager-member:first-child {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  padding-top: 5px !important;
}

.dgt-orders-manager-panel.user .dgt-orders-manager-member:last-child {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  padding-bottom: 5px !important;
}

.dgt-orders-manager-panel.user .dgt-orders-manager-member:last-child .player {
  border-bottom: none !important;
}

.dgt-orders-manager-panel.user span.note {
  line-height: 16px !important;
  width: 65%;
  text-align: left;
  font-size: 1em !important;
}
