<div class="dgt-orders-manager-panel user">
  <div *ngFor="let member of allianceMembers;" class="dgt-orders-manager-member">
    <div class="player">
      <span class="name">{{member.name}}</span>
      <span *ngIf="member.note != null" class="note">Note: {{member.note}}</span>
    </div>
  </div>
</div>
<div *ngIf="(role | async) === UserRole.TEAM_LEADER || (role | async) === UserRole.ADMIN" class="dgt-orders-manager-panel admin">
  <div *ngFor="let member of allianceMembers; index as idx" class="dgt-orders-manager-member">
    <div class="player">
      <span class="name">{{member.name}}</span>
      <div *ngIf="(role | async) === UserRole.ADMIN" class="dgt-orders-manager-kick">
        <form (ngSubmit)="onSubmitKickMember($event)" #f="ngForm" action="/alliances/kick/" method="post">
          <input type="hidden" name="{{member.dgId | kickMemberFormatter}}" value="Kick Member"/>
          <button type="submit">
            <fa-icon [icon]="['far','circle-xmark']" />
          </button>
        </form>
      </div>
      <span *ngIf="member.kickEta != null" class="kick-eta">[{{member.kickEta}}]</span>
      <span *ngIf="member.note != null && ((role | async) === UserRole.TEAM_LEADER)" class="note">Note: {{member.note}}</span>
      <div *ngIf="(role | async) === UserRole.ADMIN" class="note-update">
        <span class="label">Note:</span>
        <form (ngSubmit)="onSubmitUpdateNote($event)" #f="ngForm" action="{{member.dgId | updateNoteFormatter}}" method="post">
          <input type="text" name="note" value="{{member.note}}" placeholder="Player Note">
          <button type="submit">
            <fa-icon [icon]="['far','circle-right']" />
          </button>
        </form>
      </div>
    </div>
    <div class="dgt-orders-launcher">
      <div class="target">
        <span class="target">Target:</span>
        <input [(ngModel)]="controls.target[idx]" type="text" placeholder="Ex: 1.1.1.1" dgtNavigationTarget/>
      </div>
      <div class="wait">
        <span class="wait">Wait:</span>
        <input [(ngModel)]="controls.wait[idx]" type="text" dgtWaitTurns/>
      </div>
      <div class="instructions">
        <span class="instructions">Instructions:</span>
        <textarea [(ngModel)]="controls.instructions[idx]" placeholder="Ex: min 100xFighter"></textarea>
      </div>
      <div class="create">
        <button (click)="createOrder(idx)">
          <fa-icon [icon]="['far','circle-right']" />
        </button>
      </div>
    </div>

    <div *ngIf="(orders.get(member.name.toLowerCase()) | async).length > 0" class="dgt-orders-history">
      <div *ngFor="let order of (orders.get(member.name.toLowerCase()) | async)" class="dgt-orders-history-details"
           [ngClass]="{'executed' : order.executed, 'in-progress' : !order.executed}">
        <div class="target"><span class="label">Target:</span><span class="value">{{order.target}}</span></div>
        <div class="wait"><span class="label">Wait:</span><span class="value">{{order.wait}}</span></div>
        <div class="instructions"><span class="label">Instructions:</span><span class="value">{{order.instructions}}</span></div>
        <div class="delete">
          <button (click)="deleteOrder(order.id)">
            <fa-icon [icon]="['far','circle-xmark']"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

