<div class="opacBackground lightBorder noPadding seperatorLarge">
  <div class="opacDarkBackground padding">
    <b>DGT Admin Panel</b>
  </div>
  <div class="noPadding ofHidden">
    <div id="admin-load-planets" style="padding: 3px; font-weight: bold">
      <form>
        <input [(ngModel)]="controls.galaxies" type="text" placeholder="Galaxies (Ex: 1,2)" dgtAllianceList/>
        <button (click)="scanGalaxies();" type="submit">Load</button>
      </form>
      <span class="usage-warning">Use these loads with caution. They are very expensive for both server and Firestore!</span>
      <ul id="load-planets-example">
        <li>1,2 - will load G01 and G02</li>
        <li>34 - will load G34</li>
        <li>213 - will load first ring (G02-G13)</li>
        <li>1449 - will load second ring (G14-G49)</li>
        <li>149 - will load everything (G01-G49)</li>
      </ul>
    </div>
    <div id="admin-load-rankings" style="padding: 3px; font-weight: bold">
      <form>
        <button type="submit">Load Rankings</button>
      </form>
    </div>
  </div>
</div>
<div id="dgt-load-planets-overlay-modal" class="hide dgt-overlay-modal" #planetsLoadModal>
  <div class="dgt-display-info">
    <div class="counter">
      <span class="system-counter">{{loadedSystem}}</span>
      <span class="planet-counter" #planetCounter>{{loadedPlanet}}</span>
    </div>
    <div class="progressbar">
      <span class="percentage">{{donePercentage}}%</span>
      <span class="progress" #progress></span>
    </div>
    <div class="actions">
      <button type="button" (click)="cancelLoad()">Cancel</button>
    </div>
  </div>
</div>
