<div class="opacBackground lightBorder noPadding seperatorLarge">
  <div class="opacDarkBackground padding">
    <b>DGT Admin Panel</b>
  </div>
  <div class="noPadding ofHidden">
    <div id="admin-load-planets" style="padding: 3px; font-weight: bold">
      <form>
        <input type="text" placeholder="Galaxy list..." />
        <button type="submit">Load Galaxies</button>
      </form>
      <button type="button">Load All Galaxies</button>
    </div>
    <div id="admin-load-rankings" style="padding: 3px; font-weight: bold">
      <form>
        <button type="submit">Load Rankings</button>
      </form>
    </div>
  </div>
</div>
