a,
a:visited {
  color: #72bde0 !important;
}

#dgt-update-changelog-container {
  margin-bottom: 5px;
  border-radius: 5px;
  background: #364a36;
  border: 1px solid #3a593a;
}

#dgt-update-changelog-container h2 {
  color: #ffd46f;
  margin: 0 !important;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #3a593a;
  padding: 5px;
}

#dgt-update-changelog-container h2 span {
  font-style: italic;
  font-size: 13px !important;
  font-weight: normal;
}

#dgt-important,
#dgt-update-changelog {
  margin: 5px;
  border-radius: 3px;
  color: #dcdcdc;
}

#dgt-update {
  margin-bottom: 5px;
  animation: neo-pulse-red 2s infinite;
}

#dgt-update span {
  padding: 5px 10px !important;
  background: #bd4747;
  display: block;
  color: #dcdcdc;
}

.dgt-spinner-container {
  width: 100% !important;
  height: 58px;
  position: relative;
  margin-bottom: 10px;
}

#dgt-update-message {
  margin: auto;
  width: 300px;
  left: calc(50% - 150px);
  top: calc(50% - 45px);
  border-radius: 5px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  color: #dcdcdc;
  background: #364a36;
  border: 1px solid #3a593a;
}

span {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

img {
  width: 50px;
  height: 50px;
}


#dgt-update-message.show {
  display: flex !important;
}

#dgt-update-message.hide {
  display: none !important;
}
