#dgt-update-changelog-container {
  margin-bottom: 10px;
  border: 1px solid #5e5e5e5e;
  border-radius: 5px;
  background: #FF3B303B;
}

#dgt-update-changelog-container h2 {
  color: #ffd46f;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #5e5e5e5e;
  margin-bottom: 6px;
  padding: 5px;
}

#dgt-update-changelog-container h2 span {
  font-style: italic;
  font-size: 13px !important;
  font-weight: normal;
}

#dgt-update-changelog {
  padding: 5px 10px 10px 10px;
}

#dgt-update span {
  padding: 5px 10px !important;
}
