<div id="dgt-update-changelog-container">
  <h2>DarkGalaxy Tools <span>{{version}}</span></h2>
  <div class="dgt-spinner-container">
    <span class="dgt-spinner"></span>
  </div>
  <div *ngIf="(changed | async)" id="dgt-update">
    <span>There is a new update for DarkGalaxy Toolbox. <a target="_blank" href="https://github.com/vberezan/dg-toolbox/raw/main/tampermonkey/dg-toolbox.user.js">Click here</a> to install it.</span>
  </div>
  <div id="dgt-update-changelog">
    <div><span>Changelog:</span></div>
    <ul>
      <li>fix - shared scan fix to fit new source code in Andromeda 2</li>
    </ul>
  </div>
</div>
