<iframe width="100%" height="300" [src]="url | safe" scrolling="no" seamless="seamless"></iframe>

<div id="dgt-update-changelog-container">
  <h2>DarkGalaxy Tools <span>{{version}}</span></h2>
  <div class="dgt-spinner-container show" #dgtSpinner>
    <span class="dgt-spinner"></span>
  </div>
  <div *ngIf="(updateAvailable | async)" id="dgt-update">
    <span>There is a new update: <i><b>{{newVersion}}</b> - </i><a (click)="installUpdate()" href="javascript:void(0);">click here</a> to update your data</span>
  </div>
  <div id="dgt-update-changelog">
    <div><span>Changelog:</span></div>
    <ul>
      <li>new - Combined all <b>Player Rankings</b> pages into a single one - normal score, combat score and combined score</li>
      <li>new - Added "fill" buttons on fleet resources/ship inputs - one is to fill the input with 99999999, the other with the maximum allowed for split (40000 soldiers / 50000 workers)</li>
    </ul>
    <div style="display: none;"><span>Upcoming:</span></div>
    <ul style="display: none">
      <li><b>Alliance Rankings</b> screen - added planets stats</li>
      <li>Notification for <b>Radar</b> when at least one allied planet (including yours) is attacked</li>
      <li><b>Research</b> queue cancel confirmation popup</li>
      <li><b>Navigation</b> NAP color (yellow) (eg: SOL planets will be seen with a yellow border)</li>
      <li>Integration with Google Sheets</li>
      <li>Copy to clipboard various stats</li>
      <li>Fleet Scan statistics, including a fight simulation</li>
    </ul>
  </div>
  <div id="dgt-important">
    <div><span>Important:</span></div>
    <ul>
      <li>please report any bug on <b>Whatsapp#Toolbox</b> channel</li>
      <li><b>disable browser ads-blocking plugins for https://*.darkgalaxy.com</b> - some of them are interfering with Firebase communication</li>
    </ul>
  </div>
</div>
<div id="dgt-update-data" class="hide dgt-overlay-modal" #dgtUpdatingModel>
  <div id="dgt-update-message"><span>Installing <i><b>{{newVersion}}</b></i>...</span><img src="https://i.imgur.com/a6OzUZb.png" alt="beer"/></div>
</div>

