#dgt-update-changelog-container {
  margin-bottom: 5px;
  border-radius: 5px;
  background: #364a36;
  border: 1px solid #3a593a;
}

#dgt-update-changelog-container h2 {
  color: #ffd46f;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #3a593a;
  padding: 5px;
}

#dgt-update-changelog-container h2 span {
  font-style: italic;
  font-size: 13px !important;
  font-weight: normal;
}

#dgt-important,
#dgt-update-changelog {
  margin: 5px;
  border-radius: 3px;
  color: #dcdcdc;
}

#dgt-update {
  margin-bottom: 5px;
}

#dgt-update span {
  padding: 5px 10px !important;
  background: #4d7710;
  display: block;
  color: #dcdcdc;
}

.dgt-spinner-container {
  width: 100% !important;
  height: 58px;
  position: relative;
  margin-bottom: 10px;
}
