<table class="dgt-fleet-orders-list-table" >
  <thead>
  <tr>
    <td></td>
    <td>Target</td>
    <td>Wait</td>
    <td>Instructions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of (orders | async)">
    <td class="complete"><button>Complete</button></td>
    <td class="target">{{row.target}}</td>
    <td class="wait">{{row.wait}}</td>
    <td class="instructions">{{row.instructions}}</td>
  </tr>
  </tbody>
</table>

<div class="dgt-fleet-order" *ngFor="let order of (orders | async)">
  <div class="complete"><button>Complete</button></div>
  <div class="target"><span class="label">Target:</span><span class="value">{{order.target}}</span></div>
  <div class="wait"><span class="label">Wait:</span><span class="value">{{order.wait}}</span></div>
  <div class="instructions"><span class="label">Instructions:</span><span class="value">{{order.instructions}}</span></div>
</div>
