.dgt-fleet-order {
  float: left;
  background: #FF3B302B;
  border: 1px solid #FF3B30;
  margin: 5px 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}

.dgt-fleet-order:first-child {
  margin-top: 10px !important;
}

.dgt-fleet-order:last-child {
  margin-bottom: 10px !important;
}

.dgt-fleet-order div {
  float: left;
}

.dgt-fleet-order button {
  margin-right: 10px;
  padding: 0;
  border: none;
  margin-left: 10px;
  border-radius: 100px;
  vertical-align: middle;
  background: transparent;
  line-height: 40px;
  width: 20px;
  cursor: pointer;
}

.dgt-fleet-order button>svg {
  fill: #7a7a7a;
  height: 20px;
  align-content: center;
  display: flex;
}

.dgt-fleet-order button:hover > svg {
  fill: #7BBD1A !important;
}

.dgt-fleet-order span {
  height: 40px;
  display: inline-block;
}

.dgt-fleet-order span.label {
  padding-right: 5px;
  font-weight: bold;
  color: #FFD46F;
  float: left;
}

.dgt-fleet-order .target span.value,
.dgt-fleet-order .wait span.value {
  padding-right: 30px;
}
