.dgt-fleet-order {
  float: left;
  background: #FF3B303B;
  border: none;
  width: calc(100% - 20px);
  border-radius: 5px;
  height: 22px;
  line-height: 22px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.dgt-fleet-order:nth-child(2) {
  margin-top: 5px !important;
}

.dgt-fleet-order:last-child {
  margin-bottom: 5px !important;
}

.dgt-fleet-order div {
  float: left;
}

.dgt-fleet-order button {
  padding: 0;
  border: none;
  margin-left: 10px;
  border-radius: 100px;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
}

.dgt-fleet-order button fa-icon {
  color: #c8a960a1 !important;
  font-size: 16px !important;
  line-height: 22px;
}

.dgt-fleet-order button:hover fa-icon {
  color: #ffd46fd4 !important
}

.dgt-fleet-order span {
  height: 22px;
  display: inline-block;
}

.dgt-fleet-order span.label {
  padding-right: 5px;
  color: #dcdcdc;
  float: left;
}

.dgt-fleet-order span.value {
  color: #dcdcdc;
}

.dgt-fleet-order .target span.value,
.dgt-fleet-order .wait span.value {
  padding-right: 30px;
}

.dgt-fleet-order .complete {
  float: right;
  margin-right: 2px;
}

.dgt-fleet-order .target {
  margin-left: 2px;
}

.dgt-spinner-container {
  min-height: 44px;
  margin: 5px !important;
  width: calc(100% - 10px) !important;
  height: calc(100% - 10px) !important;
}
