.dgt-fleet-orders-list-table {
  width: 98%;
  background: #FF3B302B;
  border: 1px solid #FF3B30;
  border-radius: 5px;
  margin: 10px;
}

td.wait {
  text-align: center;
}

td.instructions {
  width: 75%;
}

button {
  cursor: pointer;
  width: 90px;
}

.no-rows {
  display: none;
}
