<div class="dgt-spinner-container show" #dgtSpinner>
  <span class="dgt-spinner"></span>
</div>
<ng-container *ngIf="(role | async) as userRole">
  <div *ngIf="active" class="dgt-alliance-members user hide" #dgtMainContainer>
    <div *ngFor="let member of allianceMembers;" class="dgt-alliance-members-member">
      <div class="player user">
        <span class="name">{{member.name}}</span>
        <span class="rank stats">Rank: <span class="value">{{member.rank}}</span></span>
        <span *ngIf="member.kickEta != null" class="kick-eta">[{{member.kickEta}}]</span>
        <span class="score stats">Score: <span class="value">{{member.score}}</span></span>
        <span class="combat-score stats">Combat: <span class="value">{{member.combatScore}}</span></span>
        <span class="planets stats">Planets: <span class="value">{{member.planets}}</span></span>
        <div *ngIf="member.kickEta == null && userRole === UserRole.ADMIN" class="dgt-alliance-members-kick">
          <form (ngSubmit)="onSubmitKickMember($event)" #f="ngForm" action="/alliances/kick/" method="post">
            <input type="hidden" name="{{member.dgId | kickMemberFormatter}}" value="Kick Member"/>
            <button type="submit">
              <fa-icon [icon]="['far','circle-xmark']"/>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
