<p style="padding-left: 10px; color: rgb(255, 220, 45);">Shared scans are active! Each scan will be uploaded and shared with your allies!</p>

<div id="contentWrapper">
  <div id="content">
    <div id="tabpanel">
      <div class="first tab">
        <a href="/" class="tabText border"><img alt="Home" src="/images/tabset/icons/home.png" width="18" height="25">home</a>
      </div>
      <div class="selected" style="left: 112px">
        <a href="/planets/" class="tabText border"><img alt="Planets" src="/images/tabset/icons/planets.png" width="20" height="25">planets</a>
      </div>
      <div class="tab" style="left: 248px">
        <a href="/radar/" class="tabText border"><img alt="Radar" src="/images/tabset/icons/radar.png" width="28" height="29">radar</a>
      </div>
      <div class="tab" style="left: 384px">
        <a href="/fleets/" class="tabText border"><img alt="Fleets" src="/images/tabset/icons/fleets.png" width="25" height="25">fleets</a>
      </div>
      <div class="tab" style="left: 520px">
        <a href="/navigation/" class="tabText border"><img alt="Navigation" src="/images/tabset/icons/navigation.png" width="19" height="25">navigation</a>
      </div>
      <div class="tab" style="left: 656px">
        <a href="/research/" class="tabText border"><img alt="Research" src="/images/tabset/icons/research.png" width="24" height="25">research</a>
      </div>
      <div class="tab" style="left: 792px">
        <a href="/alliances/" class="tabText border"><img alt="Alliances" src="/images/tabset/icons/alliances.png" width="21" height="25">alliances</a>
      </div>
    </div>
    <div id="contentBox">
      <div class="header border pageTitle">
        <a href="/planets/">Planet List</a> - null
      </div>
      <div class="opacBackground ofHidden padding">
        <div id="planetHeader" class="lightBorder opacDarkBackground padding seperator">
          <div id="planetImage" class="left">
            <img src="/images/planets/27.jpg" width="188" height="188">
          </div>
          <div class="planetHeadSection">
            <div class="lightBorder opacBackground ofHidden padding">
              <div class="left coords">
                <div class="left seperatorRight">
                  <img src="/images/units/small/coords.gif" width="17" height="17">
                </div>0.0.0.0
              </div>
              <div class="left planetName">
                <a href="/planet/3773/comms/">&lt;&lt;</a> Oxygen
                <a href="/planet/579/comms/">&gt;&gt;</a>
              </div>
              <div class="right resource">
                <div class="left seperatorRight">
                  <img src="/images/units/small/orbit.gif" title="Orbit Space" width="17" height="17">
                </div>
                <span>38</span>
              </div>
              <div class="right resource">
                <div class="left seperatorRight">
                  <img src="/images/units/small/ground.gif" title="Ground Space" width="17" height="17">
                </div>
                <span>2</span>
              </div>
              <div class="right resource seperatorRightLarge">
                <div class="left seperatorRight">
                  <img src="/images/units/small/soldier.png" title="Soldiers" width="17" height="17">
                </div>
                <span>0 / 350,000</span>
              </div>
              <div class="right resource">
                <div class="left seperatorRight">
                  <img src="/images/units/small/worker.png" title="Workers" width="17" height="17">
                </div>
                <span>350,000 / 350,000</span>
                <span class="population">+5,270</span>
                <span class="neutral">(310,000 available)</span>
              </div>
            </div>
          </div>
          <div class="planetHeadSection">
            <div class="lightBorder opacBackground ofHidden padding">
              <div class="resourceRow">
                <div class="left data">
                  &nbsp;
                </div>
                <div class="left data">
                  <div class="resourceName">
                    <div class="left seperatorRight">
                      <img src="/images/units/small/metal.gif" title="Metal" width="17" height="17">
                    </div>
                    <span>Metal</span>
                  </div>
                </div>
                <div class="left data">
                  <div class="resourceName">
                    <div class="left seperatorRight">
                      <img src="/images/units/small/mineral.gif" title="Mineral" width="17" height="17">
                    </div>
                    <span>Mineral</span>
                  </div>
                </div>
                <div class="left data">
                  <div class="resourceName">
                    <div class="left seperatorRight">
                      <img src="/images/units/small/food.gif" title="Food" width="17" height="17">
                    </div>
                    <span>Food</span>
                  </div>
                </div>
                <div class="left data">
                  <div class="resourceName">
                    <div class="left seperatorRight">
                      <img src="/images/units/small/energy.gif" title="Energy" width="17" height="17">
                    </div>
                    <span>Energy</span>
                  </div>
                </div>
              </div>
              <div class="resourceRow">
                <div class="left data">
                  Stored
                </div>
                <div class="left metal data">
                  291,312
                </div>
                <div class="left mineral data">
                  192,720
                </div>
                <div class="left food data">
                  322,521
                </div>
                <div class="left energy data">
                  23,630
                </div>
              </div>
              <div class="resourceRow">
                <div class="left data">
                  Output
                </div>
                <div class="left metal data">
                  +8,547
                </div>
                <div class="left mineral data">
                  +5,698
                </div>
                <div class="left food data">
                  +140
                </div>
                <div class="left energy data">
                  +210
                </div>
              </div>
              <div class="resourceRow">
                <div class="left data">
                  Abundance
                </div>
                <div class="left metal data">
                  70%
                </div>
                <div class="left mineral data">
                  70%
                </div>
                <div class="left food data">
                  70%
                </div>
                <div class="left energy data">
                  70%
                </div>
              </div>
            </div>
          </div>
          <div id="buttonBlock">
            <a href="/planet/6728/" class="lightBorder opacBackground"> <img src="/images/buttons/construction.png" width="28" height="29"> <span class="border">Building</span> </a>
            <a id="shipyard" href="/planet/6728/production/" class="lightBorder opacBackground"> <img src="/images/buttons/production.png" width="29" height="29"> <span class="border">Ship Yard</span> </a>
            <div id="shipyardRequirements" style="display: none" data-hasqtip="dg">
              <div style="width: 250px" class="padding" data-hasqtip="2">
                The ship yard is where you can go to build ships, but before we do that, please ensure the following are built (or queued):
              </div>
              <div style="width: 250px;" class="padding" data-hasqtip="3">
                <b>Note</b>: If you transfer ships to this planet, the ship yard will become available so you can create a fleet and move them.
              </div>
            </div>
            <a id="training" href="/planet/6728/training/" class="lightBorder opacBackground"> <img src="/images/buttons/training.png" width="28" height="29"> <span class="border">Barracks</span> </a>
            <div id="trainingRequirements" style="display: none" data-hasqtip="4">
              <div style="width: 250px" class="padding" data-hasqtip="5">
                The Barracks is where you can go to train Soldiers so that you'll need to invade other planets. To gain access to the barracks, please first build (or queue) the following:
              </div>
            </div>
            <div id="converter" href="/planet/6728/converter/" class="lightBorder opacBackground" data-hasqtip="6">
              <img src="/images/buttons/converter.png" width="28" height="29">
              <span class="border">Converter</span>
            </div>
            <div id="converterRequirements" style="display: none" data-hasqtip="7">
              <div style="width: 250px" class="padding" data-hasqtip="8">
                The Resource Converter allows you to convert metal and mineral to energy, and back again. To get access to the converter, please build the following:
              </div>
              <div style="padding: 3px" class="ofHidden" data-hasqtip="9">
                <div class="left" style="width: 25px; height: 25px; margin-right: 5px" data-hasqtip="10">
                  <img src="/images/units/main/structures/resource_converter.jpg" style="width: 25px; height: 25px" width="25" height="25">
                </div>
                <div class="left" style="line-height: 25px; font-weight: bold" data-hasqtip="11">
                  Resource Converter
                </div>
              </div>
            </div>
            <a href="/planet/6728/comms/radar/" class="lightBorder opacBackground" style="width: 172px; margin-right: 0px"> <img src="/images/buttons/comms.png" width="28" height="29"> <span class="border">Radar</span> </a>
          </div>
        </div>
        <div style="overflow: hidden; padding: 0px" class="lightBorder opacDarkBackground">
          <form action="/planet/6728/comms/scan/" method="post">
            <div class="tableHeader">
              <div class="title" style="padding-left: 4px">
                Scan Name
              </div>
              <div class="title" style="width: 20px">
                &nbsp;
              </div>
              <div class="title">
                Energy
              </div>
            </div>
            <div class="entry  opacBackground lightBorderBottom" style="padding: 4px">
              <div class="left" style="line-height: 22px">
                Resource Scan
              </div>
              <div class="right" style="padding-top: 2px; width: 20px">
                <input type="radio" name="scanId" value="191">
              </div>
              <div class="right energy" style="line-height: 22px">
                500
              </div>
            </div>
            <div class="entry  opacLightBackground lightBorderBottom" style="padding: 4px">
              <div class="left" style="line-height: 22px">
                Surface Scan
              </div>
              <div class="right" style="padding-top: 2px; width: 20px">
                <input type="radio" name="scanId" value="192">
              </div>
              <div class="right energy" style="line-height: 22px">
                1000
              </div>
            </div>
            <div class="entry  opacBackground lightBorderBottom" style="padding: 4px">
              <div class="left" style="line-height: 22px">
                Fleet Scan
              </div>
              <div class="right" style="padding-top: 2px; width: 20px">
                <input type="radio" name="scanId" value="193" checked="">
              </div>
              <div class="right energy" style="line-height: 22px">
                2000
              </div>
            </div>
            <div class="right entry  opacLightBackground coordsInput" style="border-left: 1px solid #545454; padding: 4px">
              <div class="left coords" style="width: 92px">
                <div class="left">
                  <img src="/images/units/small/coords.gif" width="17" height="17">
                </div>
                <div class="left" style="padding-left: 4px; line-height: 17px">
                  Coordinates:
                </div>
              </div>
              <div class="left" style="height: 23px; line-height: 22px">
                <input type="number" name="coordinate.0" value="1"> .
                <input type="number" name="coordinate.1" value="11"> .
                <input type="number" name="coordinate.2" value="1"> .
                <input type="number" name="coordinate.3" value="1">
              </div>
              <div class="right" style="line-height: 22px; padding-left: 6px">
                <input type="submit" name="Submit" value="Scan">
              </div>
            </div>
          </form>
        </div>
        <div class="seperator"></div>
        <div class="lightBorder opacDarkBackground">
          <div class="header border">
            <img src="/images/buttons/comms.png" width="28" height="29">Last Scan Result
          </div>
          <div class="ofHidden padding">
            <div id="planetHeader" style="min-height: 67px;" class="lightBorder opacDarkBackground padding">
              <div id="planetImage" class="left">
                <img src="/images/planets/17.jpg" style="height: 67px" width="67" height="67">
              </div>
              <div class="planetHeadSection">
                <div class="lightBorder opacBackground ofHidden padding">
                  <div class="left coords">
                    <div class="left seperatorRight">
                      <img src="/images/units/small/coords.gif" width="17" height="17">
                    </div>1.11.1.1
                  </div>
                  <div class="left planetName">
                    Flywheel
                  </div>
                </div>
              </div>
              <div class="planetHeadSection" style="padding-bottom: 0px">
                <div class="lightBorder opacBackground ofHidden padding">
                  <div class="left">
                    <span>Owner: XsiO</span>
                    <span>(<span class="allied">The Romanian Federation</span>)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="seperator"></div>
            <div class="lightBorder ofHidden opacDarkBackground">
              <div class="header border">
                <img src="/images/buttons/fleets.png" style="float: left; margin-right: 6px; padding-top: 2px" width="28" height="29">Fleet List
              </div>
              <div class="left ofHidden lightBorder" style="width: 301px; margin: 3px">
                <div class="opacLightBackground ofHidden" style="padding: 4px; border-bottom: 1px dashed #545454">
                  <div class="ofHidden">
                    <div class="left ofHidden">
                      <b>Freezer Express</b>
                    </div>
                  </div>
                  <span class="allied">
            <div class="allianceName" alliancename="The Romanian Federation" allianceid="17">
             [ROF]
            </div>
            <div class="playerName" playerid="270">
             XsiO
            </div></span>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                  <tbody>
                  <tr class=" opacBackground">
                    <td class=" padding" style="width: 180px">Freighter</td>
                    <td class=" padding" style="width: 70px">1</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="left ofHidden lightBorder" style="width: 301px; margin: 3px">
                <div class="opacLightBackground ofHidden" style="padding: 4px; border-bottom: 1px dashed #545454">
                  <div class="ofHidden">
                    <div class="left ofHidden">
                      <b>X2</b>
                    </div>
                  </div>
                  <span class="allied">
            <div class="allianceName" alliancename="The Romanian Federation" allianceid="17">
             [ROF]
            </div>
            <div class="playerName" playerid="270">
             XsiO
            </div></span>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                  <tbody>
                  <tr class=" opacBackground">
                    <td class=" padding" style="width: 180px">Freighter</td>
                    <td class=" padding" style="width: 70px">1</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
