<div class="dgt-stats-panel">
  <div class="dgt-stats-totals">
    <table class="dgt-stats-totals-table">
      <tr *ngFor="let row of panel.stats | keyvalue; index as i;"
          [ngClass]="{'dgt-stats-totals-last-row': i == (panel.stats.size-1)}">

        <th [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-padding-right-xl">
          <span class="name">{{row.key | galaxyNameFormatter}}</span>
          <span class="count">[{{row.value.count}}]</span>
        </th>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xxs dgt-padding-left-xs">
          <div class="dgt-resource resource metal">
            <img src="https://i.imgur.com/V9Yv4MJ.jpg" title="Metal" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.metalStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource metal">
            <span class="dgt-value">{{row.value.resources.metalProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource mineral">
            <img src="https://i.imgur.com/OdLTSDl.jpg" title="Mineral" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.mineralStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource mineral">
            <span class="dgt-value">{{row.value.resources.mineralProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource food">
            <img src="https://i.imgur.com/bhfaalb.jpg" title="Food" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.foodStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs">
          <div class="dgt-resource resource food">
            <span class="dgt-value">{{row.value.resources.foodProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td medium dgt-padding-right-xxs">
          <div class="dgt-resource resource energy">
            <img src="https://i.imgur.com/IkkDId3.jpg" title="Energy" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.energyStored | number:'1.0':'en-US'}}</span>
          </div>
        </td>
        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xl">
          <div class="dgt-resource resource energy">
            <span class="dgt-value">{{row.value.resources.energyProduction | resourceProductionFormatter}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td small dgt-padding-left-xs dgt-padding-right-xs">
          <div class="dgt-resource resource ground">
            <img src="https://i.imgur.com/cSsBIwv.jpg" title="Ground Space" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.ground | number:'1.0':'en-US'}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}" class="dgt-resource-td small dgt-padding-right-xl">
          <div class="dgt-resource resource orbit">
            <img src="https://i.imgur.com/7wtJcXw.jpg" title="Orbit Space" width="17" height="17">
            <span class="dgt-value">{{row.value.resources.orbit | number:'1.0':'en-US'}}</span>
          </div>
        </td>

        <td [ngClass]="{'dgt-padding-bottom-xs': i == (panel.stats.size - 2)}"
            class="dgt-resource-td medium dgt-padding-right-xs dgt-padding-left-xs">
          <div class="dgt-resource resource soldier">
            <img src="https://i.imgur.com/0varSGq.jpg" title="Soldiers" width="17" height="17">
            <span class="dgt-value">{{row.value.soldiers.total | number:'1.0':'en-US'}}</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
