<div class="dgt-stats-panel">
    <div class="dgt-stats-totals">
        <table class="dgt-stats-totals-table">
            <tr *ngFor="let row of stats.resourceTotals | keyvalue">
                <th>{{row.key | galaxyName}}</th>
                <td class="dgt-resource-td">
                    <div class="dgt-resource resource metal">
                        <img class="dgt-resource-img" src="/images/units/small/metal.gif" title="Metal" width="17" height="17">
                        <span class="dgt-value">{{row.value.totalMetal | number:'1.0':'en-US'}}</span>
                    </div>
                </td>
                <td class="dgt-resource-td">
                    <div class="dgt-resource resource mineral">
                        <img class="dgt-resource-img" src="/images/units/small/mineral.gif" title="Mineral" width="17" height="17">
                        <span class="dgt-value">{{row.value.totalMineral | number:'1.0':'en-US'}}</span>
                    </div>
                </td>
                <td class="dgt-resource-td">
                    <div class="dgt-resource resource food">
                        <img class="dgt-resource-img" src="/images/units/small/food.gif" title="Food" width="17" height="17">
                        <span class="dgt-value">{{row.value.totalFood | number:'1.0':'en-US'}}</span>
                    </div>
                </td>
                <td class="dgt-resource-td">
                    <div class="dgt-resource resource energy">
                        <img class="dgt-resource-img" src="/images/units/small/energy.gif" title="Energy" width="17" height="17">
                        <span class="dgt-value">{{row.value.totalEnergy | number:'1.0':'en-US'}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
