<div>
    <div class="metal">
        <img src="/images/units/small/metal.gif" title="Metal" width="17" height="17">
        <span>{{stats.totalMetal}}</span>
    </div>
    <div class="mineral">
        <img src="/images/units/small/mineral.gif" title="Mineral" width="17" height="17">
        <span>{{stats.totalMineral}}</span>
    </div>
    <div class="food">
        <img src="/images/units/small/food.gif" title="Food" width="17" height="17">
        <span>{{stats.totalFood}}</span>
    </div>
    <div class="energy">
        <img src="/images/units/small/energy.gif" title="Energy" width="17" height="17">
        <span>{{stats.totalEnergy}}</span>
    </div>
    <p>Total Ground: {{stats.totalGround}}</p>
    <p>Total Orbit: {{stats.totalOrbit}}</p>
</div>
