.dgt-stats-totals-table,
.dgt-stats-totals-table th,
.dgt-stats-totals-table td,
.dgt-stats-totals-table tr {
    border-collapse: collapse;
    display: block;
    margin: 0;
    padding: 0;
}

.dgt-stats-totals-table th {
    min-width: 50px;
}

.resource > img.dgt-resource-img {
    float: left;
}

.dgt-resource {
    height: 17px !important;
    padding: 0;
}

.resource > span.dgt-value {
    float: left;
    margin-left: 3px;
    line-height: 16px;
}
