.dgt-stats-totals-table,
.dgt-stats-totals-table th,
.dgt-stats-totals-table td,
.dgt-stats-totals-table tr {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.dgt-stats-totals-table th {
    min-width: 50px;
    line-height: 20px;
}

.dgt-stats-totals-table td {
    line-height: 20px;
    padding-right: 10px;
}

.resource > img.dgt-resource-img {
    float: left;
}

.dgt-resource {
    height: 17px !important;
    padding: 0;
}

.resource > span.dgt-value {
    float: right;
    margin-left: 3px;
    line-height: 16px;
}

.dgt-stats-panel {
    padding: 5px !important;
}
