<div>
    <div class="resource metal">
        <img src="/images/units/small/metal.gif" title="Metal" width="17" height="17">
        <span class="value">{{stats.totalMetal | number:'1.0':'en-US'}}</span>
    </div>
    <div class="resource mineral">
        <img src="/images/units/small/mineral.gif" title="Mineral" width="17" height="17">
        <span class="value">{{stats.totalMineral | number:'1.0':'en-US'}}</span>
    </div>
    <div class="resource food">
        <img src="/images/units/small/food.gif" title="Food" width="17" height="17">
        <span class="value">{{stats.totalFood | number:'1.0':'en-US'}}</span>
    </div>
    <div class="resource energy">
        <img src="/images/units/small/energy.gif" title="Energy" width="17" height="17">
        <span class="value">{{stats.totalEnergy | number:'1.0':'en-US'}}</span>
    </div>
    <p>Total Ground: {{stats.totalGround}}</p>
    <p>Total Orbit: {{stats.totalOrbit}}</p>
</div>
