.name {
  width: 150px;
  text-transform: capitalize;
}

.planets,
.g1,
.inner,
.outer {
    width: 100px;
}

.score {
    width: 100px;
}

.rank {
  width: 35px;
}

.alliance {
  width: 50px;
}

td.alliance {
  text-transform: uppercase;
}

td.planets,
td.g1,
td.inner,
td.outer {
  text-align: center;
}

#dgt-players-rankings-wrapper {
  background: rgba(87,87,87,.75);
  border-radius: 3px;
  padding: 5px 10px 0 10px !important;
}

table {
  padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  line-height: 26px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

table tr:last-child td {
  border-bottom: none !important;
}
