<div id="dgt-players-rankings-wrapper">
    <table id="dgt-rankings-table">
        <thead>
            <tr>
                <th class="rank">Rank</th>
                <th class="alliance">Tag</th>
                <th class="name">Player</th>
                <th class="planets">Planets</th>
                <th class="score">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of rankings.values()">
                <td class="rank">{{player.rank}}</td>
                <td class="alliance">{{player.alliance}}</td>
                <td class="name">{{player.name}}</td>
                <td class="planets">{{player.planets}}</td>
                <td class="score">{{player.score}}</td>
            </tr>
        </tbody>
    </table>
</div>
