#dgt-rankings-table .alliance {
    width: 50px;
}

#dgt-rankings-table .name {
  width: 200px;
}

#dgt-rankings-table .planets,
#dgt-rankings-table .g1,
#dgt-rankings-table .inner,
#dgt-rankings-table .outer {
    width: 100px;
}

#dgt-rankings-table .score {
    width: 100px;
}

#dgt-players-rankings-wrapper {
  background: rgba(87,87,87,.75);
  border-radius: 3px;
  padding: 5px 10px 0 10px !important;
}

table {
  padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
}

td, th {
  line-height: 26px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

table tr:last-child td {
  border-bottom: none !important;
}
