.hostile,
.allied,
.self,
.nap {
  color: #fff;
}

.hostile a,
.hostile a:visited,
.allied a,
.allied a:visited,
.self a,
.self a:visited,
.nap a,
.nap a:visited,
.neutral a,
.neutral a:visited {
  color: #72bde0 !important;
}

.name {
  width: 150px;
  text-transform: capitalize;
  padding-left: 10px !important;
}

.planets,
.g1,
.inner,
.outer {
  width: 50px;
}

.empty {
  width: 100px;
}

.score {
  width: 75px;
}

.score-per-planet {
  width: 50px;
  text-align: center;
}

.rank {
  width: 30px;
  text-align: center;
}

.alliance {
  width: 50px;
  padding-left: 10px;
}

.score,
.planets,
.g1,
.inner,
.outer {
  text-align: center;
}

.hostile .alliance,
.hostile .rank {
  background: #4b2b2b !important;
  color: #df4a4a !important
}

.nap .alliance,
.nap .rank {
  background: #4e4e17 !important;
  color: #b9b916 !important
}

.allied .alliance,
.allied .rank {
  background: #18354b !important;
  color: #08baff !important
}

.self .alliance,
.self .rank {
  background: #426300 !important;
  color: #7bbd1a !important
}

.neutral .alliance,
.neutral .rank {
  background: #3b3b3b !important;
  color: #fff !important
}

.neutral td {
  color: #dcdcdc;
}

td.alliance {
  text-transform: uppercase;
}

td.name {
  color: #fff;
}

#dgt-players-rankings-wrapper {
  background: rgba(87, 87, 87, .75);
  border-radius: 3px;
  padding: 5px !important;
  margin-bottom: 5px !important;
}

table {
  padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

table tr:last-child td {
  border-bottom: none !important;
}

th a,
th a:visited {
  color: #72bde0 !important;
}
