/* Override game rules section */
body {
  visibility: hidden;
  color: #fff;
}

.mineral {
  color: #ff8484 !important;
}

.food {
  color: #7BBD1A !important;
}

.energy {
  color: #0CA1E1 !important;
}

.metal {
  color: #CCCCCC !important;
}

#contentBox > div.opacBackground.padding > #planetList {
  padding: 4px !important;
}

#content {
  width: 944px !important;
}

#contentBox #available {
  width: 552px !important;
}

#buttonBlock div,
#buttonBlock a {
  margin-right: 5px !important;
}

#planetList > #planetList .locationWrapper .paddingMid {
  padding: 0 !important;
  display: block;
}

#planetList > #planetList:last-child .opacDarkBackground,
#fleetList,
#fleetList > div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#contentBox,
#contentBox > .opacBackground {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#planetList > #planetList .opacBackground {
  background: rgb(75, 75, 75) !important;
}

#planetList > #planetList .lightBorder {
  border: none;
}

#planetList > #planetList .seperatorSmall {
  margin-bottom: 0 !important;
}

#planetList > #planetList .resource {
  font-style: normal !important;
}

#planetList > #planetList .resource {
  height: 20px !important;
}

#planetList > #planetList .resource fa-icon {
  font-size: 12px;
}

#planetList > #planetList .opacDarkBackground > .planetImage,
#planetList > #planetList .opacDarkBackground > .planetImage img {
  height: 75px;
  width: 75px;
  float: left;
}


#planetList > #planetList .opacDarkBackground > .planetHeadSection:last-child > .opacBackground {
  border-bottom-right-radius: 5px;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection.nameRow > .opacBackground {
  border-top-right-radius: 5px;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection.nameRow > .opacBackground .coords fa-icon {
  padding-left: 5px;
}

#planetList > #planetList .planetHeadSection:nth-child(4) .right,
#planetList > #planetList .planetHeadSection.nameRow .resource:nth-child(3) {
  padding-right: 10px !important;
}

#planetList > #planetList .opacDarkBackground > .planetImage {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius) img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#planetList > #planetList .opacDarkBackground {
  border-radius: 5px;
}

#planetList > #planetList .planetImage {
  margin-right: 0 !important;
}

#planetList > #planetList .planetHeadSection {
  padding-right: 0;
  float: left;
  width: calc(100% - 75px);
  height: 25px !important;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(2) {
  padding-top: 0;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(5),
#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(6),
#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(7) {
  width: 100% !important;
  height: 24px !important;
}

#planetList > #planetList .fleetList {
  padding-left: 8px;
}

#planetList > #planetList .planetHeadSection:last-child {
  padding-bottom: 0;
  margin-top: 0 !important;
}

#planetList > #planetList .resource {
  padding: 5px !important;
  margin-top: 0 !important;
}

#planetList > #planetList .resourceLine .metal fa-icon,
#planetList > #planetList .left.resource a,
#planetList > #planetList .coords span,
#planetList > #planetList .resource span {
  padding-left: 2px;
}

#planetList > #planetList .resourceLine .resource {
  width: calc(25% - 15px) !important;
}

/******/

.navigation .row .planets {
  width: 180px !important;
  margin: 5px !important;
  padding: 5px !important;
  border-radius: 5px;
}

.navigation .row .planets img {
  border-radius: 5px;
}

.navigation .row .planets img,
.navigation .row .planets div.text {
  float: left !important;
}

.navigation .row .planets .dgt-navigation-scan {
  float: right;
  font-size: 11px;
  text-align: left;
  border-collapse: collapse;
  width: 50%;
}

.navigation .row .planets .text {
  width: 100%;
  padding-top: 10px;
}

.dgt-navigation-scan-turn {
  color: #fff !important;
}

.dgt-navigation-scan-resource td.resource {
  min-width: 65%;
}

.navigation .row .planets .text .coords {
  width: 100% !important;
  margin: 2px auto;
  text-align: left;
}

.navigation .row .planets .text span {
  float: left;
}

.navigation .row .planets .text .right {
  float: left !important;
}

.navigation .row .planets .text .ng-fa-icon {
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
  vertical-align: 0 !important;
}
