/* Override game rules section */
body {
    visibility: hidden;
}

#content {
    width: 944px !important;
}

#contentBox #available {
    width: 552px !important;
}

#planetList .paddingMid {
    padding: 0 !important;
}

#planetList > #planetList:last-child .opacDarkBackground,
#fleetList,
#fleetList > div:last-child,
#contentBox,
#contentBox > .opacBackground {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#planetList .opacBackground {
    background: rgb(75, 75, 75) !important;
}

#planetList .lightBorder {
    border: none;
}

#planetList .seperatorSmall {
    margin-bottom: 0 !important;
}

#planetList .resource {
    height: 20px !important;
}

#planetList > #planetList .opacDarkBackground > .planetImage,
#planetList > #planetList .opacDarkBackground > .planetImage img {
    height: 92px;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:last-child > .opacBackground {
    border-bottom-right-radius: 10px;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection.nameRow > .opacBackground {
    border-top-right-radius: 10px;
}

#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius),
#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius) img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#planetList > #planetList .opacDarkBackground {
    border-radius: 13px;
}

#planetList .planetImage {
    margin-right: 0 !important;
}

#planetList .planetHeadSection {
    padding-right: 5px;
}

#planetList .planetHeadSection:first-child {
    padding-top: 5px;
}

#planetList .planetHeadSection:last-child {
    padding-bottom: 5px;
}
