/*****/
#tabpanel {
  display: none !important;
}

.padding {
  padding: 5px !important;
}

/*a,*/
/*a:visited {*/
/*  color: #72bde0;*/
/*}*/

.seperator {
  margin-bottom: 5px !important;
}

.dgt-spinner-container.show {
  display: flex !important;
}

.dgt-spinner-container.hide {
  display: none !important;
}

.dgt-spinner-container {
  position: absolute;
  width: 100%;
  background: #4c4c4c;
  border-radius: 5px;
  height: 100%;
  min-height: 60px;
}
.dgt-spinner {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #4c4c4c; /*use your base color*/
  left: calc((100% - 60px) / 2);
  top: calc((100% - 40px) / 2);
}
.dgt-spinner::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffffad;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.dgt-spinner::after {
  content: '';
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffffad;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #FF3B30;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes neo-pulse-red {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #FF3B30;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}


.dgt-overlay-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200%;
  height: 200%;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999999999;
}

.dgt-overlay-modal.show {
  display: flex !important;
}

.dgt-overlay-modal.hide {
  display: none !important;
}

.dgt-overlay-open {
  overflow: hidden !important;
}

/******/

#dgt-credits {
  color: #909090;
  font-size: 11px;
  margin-left: 11px;
  display: grid;
}

@media only screen and (max-width: 1400px) {
  #dgt-credits {
    float: left;
    margin-top: 5px;
  }

  #header > .left a {
    float: left !important;
  }
}

#dgt-credits span {
  float: left;
}

/* Override game rules section */
body {
  visibility: hidden;
  color: #fff;
}

.pageTitle {
  padding-left: 10px !important;
}

.bigBlue {
  display: none !important;
}

.header {
  background: rgb(75, 75, 75) none !important;
}

div.error {
  border: none !important;
  background: #FF3B303B !important;
  border-radius: 5px !important;
  color: #ffffffad !important;
}

textarea:focus,
textarea:focus-visible,
input:focus,
input:focus-visible {
  outline: none;
  border-color: #7a7a7a !important;
}

a:hover {
  text-decoration: none !important;
}

.mineral {
  color: #ff8484 !important;
}

.food {
  color: #7BBD1A !important;
}

.energy {
  color: #0CA1E1 !important;
}

.metal {
  color: #CCCCCC !important;
}

span.friendly {
  color: #7BBD1A !important;
}

span.allied {
  color: #0a96ff !important;
}

span.hostile {
  color: #df4a4a !important;
}

span.nap {
  color: #b9b916 !important;
}

span.peaceful {
  color: #fff !important;
}

#content {
  width: 944px !important;
}

#contentBox>.padding>.padding {
  padding: 0 !important;
}

#contentBox {
  border-top-color: #5e5e5e !important;
}

#contentBox #available {
  width: 553px !important;
  border-radius: 5px;
  border: 1px solid #545454;
}

#contentBox #available .header {
  padding: 5px;
}

#contentBox #available .header>img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#buttonBlock {
  border: none !important;
  border-bottom-right-radius: 5px;
}

#buttonBlock a:first-child {
  width: 125px !important;
}

#buttonBlock #shipyard {
  width: 110px !important;
}

#buttonBlock #training {
  width: 110px !important;
}

#buttonBlock #converter {
  width: 173px !important;
}

#buttonBlock a:last-child,
#buttonBlock #comms {
  width: 158px !important;
  border-right: none !important;
}

#buttonBlock div,
#buttonBlock a {
  margin-right: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  padding: 7px !important;
  line-height: 28px !important;
  height: 28px !important;
}

#buttonBlock a:hover {
  background: rgba(53,49,49,1) !important;
}

#buttonBlock div#shipyard,
#buttonBlock div#converter,
#buttonBlock div#comms,
#buttonBlock div#training {
  background: rgba(74, 73, 73, 0.1) !important;
}

#buttonBlock div#shipyard img,
#buttonBlock div#converter img,
#buttonBlock div#comms img,
#buttonBlock div#training img {
  border: 2px solid #5f5f5f !important;
}

#buttonBlock a>img,
#buttonBlock div>img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 2px;
  width: 20px;
  height: 20px;
}

#buttonBlock img {
  margin-left: 0 !important;
}

#planetList > div:nth-child(2) {
  border: 1px solid #5e5e5e !important;
  padding: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  background: rgb(75, 75, 75);
}

#planetList .coords.left {
  border: none !important;
  padding: 0 !important;
  margin: 5px !important;
}

#planetList .resource .left img {
  border-radius: 3px;
  border: 1px solid #767676;
  height: 15px;
  width: 15px;
}

#planetList .coords img {
  border-radius: 3px;
  border: 1px solid #767676;
  height: 13px;
  width: 13px;
  padding: 1px;
}

#planetList .coords img {
  border: 1px solid #767676 !important;
}

#planetList .coords span,
#planetList .planetHeadSection .resource span,
#planetList .resourceLine .resource span {
  line-height: 16px !important;
}

#planetList .planetHeadSection .planetName {
  line-height: 26px !important;
}

#planetList .planetHeadSection .planetName a {
  color: #ffd46f !important;
  margin-left: 5px;
}

#planetList > #planetList .locationWrapper .paddingMid {
  border: 1px solid #5e5e5e !important;
  padding: 0 !important;
  display: block;
}

#planetList > #planetList:last-child .opacDarkBackground,
#fleetList,
#fleetList > div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#contentBox,
#contentBox > .opacBackground {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#planetList > #planetList .opacBackground {
  background: rgb(75, 75, 75) !important;
}

#planetList > #planetList .lightBorder {
  border: none;
}

#planetList > #planetList .seperatorSmall {
  margin-bottom: 0 !important;
}

#planetList em.neutral,
#planetList > #planetList .resource {
  font-style: normal !important;
}

#planetList > #planetList .resource {
  height: 20px !important;
}

#planetList > #planetList .opacDarkBackground > .planetImage,
#planetList > #planetList .opacDarkBackground > .planetImage img {
  height: 75px;
  width: 75px;
  float: left;
}

#planetList > #planetList .planetHeadSection a>img {
  border: 1px solid #767676 !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 3px !important;
  padding: 1px 0 !important;
  margin-top: -5px !important;
}

#planetList > #planetList .planetHeadSection:nth-child(4) .right a:hover img {
  background: rgba(53,49,49,1);
  border: 1px solid rgb(53,49,49,1) !important;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection.nameRow > .opacBackground .coords fa-icon {
  padding-left: 5px;
}

#planetList > #planetList .planetHeadSection:nth-child(4) .right,
#planetList > #planetList .planetHeadSection.nameRow .resource:nth-child(3) {
  padding-right: 5px !important;
}

#planetList > #planetList .planetHeadSection:nth-child(4) .dgt-link-to-navigation {
  padding-right: 0 !important;
}

#planetList > #planetList .opacDarkBackground > .planetImage {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#planetList > #planetList .opacDarkBackground > .planetImage:not(.dgt-no-bottom-radius) img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#planetList > #planetList .opacDarkBackground {
  border-radius: 5px;
}

#planetList > #planetList .planetImage {
  margin-right: 0 !important;
}

#planetList > #planetList .planetHeadSection {
  padding-right: 0;
  float: left;
  width: calc(100% - 75px);
  height: 25px !important;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(2) {
  padding-top: 0;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(5) {
  display: inline-table;
}

#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(5),
#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(6),
#planetList > #planetList .opacDarkBackground > .planetHeadSection:nth-child(7) {
  width: 100% !important;
  height: 24px !important;
}

#planetList > #planetList .fleetList {
  padding-left: 8px;
}

#planetList > #planetList .planetHeadSection:last-child {
  padding-bottom: 0;
  margin-top: 0 !important;
}

#planetList > #planetList .resource {
  padding: 5px !important;
  margin-top: 0 !important;
}

#planetList > #planetList .resourceLine .metal fa-icon,
#planetList > #planetList .coords span,
#planetList > #planetList .resource span {
  padding-left: 2px;
}

#planetList > #planetList .resourceLine .resource {
  width: calc(25% - 15px) !important;
}

#planetList > #planetList .planetImage a {
  display: flex;
}

#planetList > #planetList .planetImage .dgt-planet-new-coords {
  position: absolute;
  width: 65px;
  margin-top: 55px;
  font-size: 11px;
  padding: 3px 5px;
  background: #00000091;
  border-bottom-left-radius: 5px;
  color: #ffffffad;
  text-align: center;
}

#planetList > #planetList .seperatorRightLarge {
  margin-right: 0 !important;
}

/******/

.navigation {
  padding: 0 !important;
}

#navWrapper .navigation {
  border: none;
  background: transparent;
}

#navWrapper > div {
  display: inline-flex !important;
}

#navWrapper .row:first-child > .planets {
  margin-top: 0 !important;
}

#navWrapper .row > .planets:first-child {
  margin-left: 0 !important;
}

#navWrapper .row > .planets:last-child {
  margin-right: 0 !important;
}

a.left.navigation,
a.right.navigation {
  width: 26px !important;
  height: 26px !important;
  font-size: 22px !important;
  line-height: 34px !important;
  padding: 0 !important;
  margin-top: 5px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  float: right !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
}

a.left.navigation svg,
a.right.navigation svg {
  fill: #a2a2a2 !important;
}

a.left.navigation:hover svg,
a.right.navigation:hover svg {
  fill: #ffffffcf !important
}

.navigation .row > .friendly {
  border: 1px solid #4c760f !important;
}

.navigation .row .planets.friendly {
  background: #3f4b2f;
}

.navigation .row > .allied {
  border: 1px solid #0063ad !important;
}

.navigation .row .planets.allied {
  background: #18354b;
}

.navigation .row > .hostile {
  border: 1px solid #8b2c2c !important;
}

.navigation .row .planets.hostile {
  background: #4b2b2b;
}

.navigation .row > .nap {
  border: 1px solid #81810c !important;
}
.navigation .row .planets.nap {
  background: #4e4e17;
}

.navigation .row > .peaceful {
  border: 1px solid #5e5e5e !important;
}
.navigation .row .planets.peaceful {
  background: #3b3b3b;
}


.navigation .row .planets {
  float: left;
  width: 217px !important;
  margin: 5px 0 0 5px !important;
  padding: 5px !important;
  border-radius: 5px;
  height: auto !important;
  min-height: 142px !important;
  background: #353535;
  border: 1px solid #5e5e5e;
}

.navigation .row .planets a > img,
.navigation .row .planets > img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.navigation .row .planets table img {
  border-radius: 2px;
  border: 1px solid #767676 !important;
  height: 13px;
  width: 13px;
}

.navigation .row .planets img,
.navigation .row .planets div.text {
  float: left !important;
}

.navigation .row .planets div.text > div {
  display: none !important;
}

.dgt-navigation-scan {
  float: right;
  font-size: 11px;
  text-align: left;
  border-collapse: collapse;
  width: 50%;
}

.navigation .row .planets .text {
  width: 100%;
}

.dgt-navigation-scan-coords {
  color: #fff !important;
}

.dgt-navigation-scan-size-orbit,
.dgt-navigation-scan-size-ground {
  visibility: hidden;
}

.dgt-navigation-scan-size-orbit span,
.dgt-navigation-scan-size-ground span {
  margin-left: 3px !important;
  color: #fff;
}

.dgt-navigation-scan-coords-label img {
  margin-bottom: 2px !important;
}

.dgt-navigation-scan-coords-value {
  vertical-align: baseline;
}

#dgt-navigation-scan-turn {
  float: right;
  width: 35%;
  text-align: right;
  font-size: 12px;
  color: #fff;
}

.navigation .row .planets .text .allied,
.navigation .row .planets .text .hostile,
.navigation .row .planets .text .friendly {
  width: 65% !important;
  float: left;
}

.navigation .row .planets .text .coords {
  width: 100% !important;
  text-align: left;
  margin: 0 !important;
  border: none !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 12px;
}

.navigation .row .planets .text span {
  float: left;
}

.navigation .row .planets .text .right {
  float: left !important;
}

.navigation .row .planets .text span.friendly,
.navigation .row .planets .text span.allied,
.navigation .row .planets .text span.hostile,
.navigation .row .planets .text b {
  text-align: left !important;
  float: left;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
}

.navigation .row .planets .text b {
  margin-top: 10px !important;
  padding-left: 1px !important;
}

.navigation .row .planets .text > div:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dgt-navigation-scan-fleet {
  color: #fff !important;
  background: #0ca1e1 !important;
  margin-right: 7px;
  float: right !important;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

.dgt-navigation-scan-population {
  margin-top: 10px;
  position: absolute;
  background: #000000b8;
}

.dgt-navigation-scan-population {
  float: left !important;
  line-height: 16px !important;
  width: 100px !important;
  border-collapse: collapse;
}

.dgt-navigation-scan-population td {
  text-align: left;
  line-height: 16px !important;
}

.dgt-navigation-scan-population td:first-child {
  padding-left: 4px;
}

.dgt-navigation-scan-workers-gr {
  color: #fff;
  font-size: 11px;
  min-width: 20px;
}

.dgt-navigation-scan-soldiers-ab {
  color: #e46045;
  font-size: 11px;
  min-width: 20px;
}

.dgt-navigation-scan-soldiers-value,
.dgt-navigation-scan-workers-value {
  color: #fff;
  font-size: 11px;
  min-width: 55px;
}

.dgt-navigation-scan-soldiers-icon img,
.dgt-navigation-scan-workers-icon img {
  width: 14px !important;
  height: 14px !important;
}


.dgt-navigation-scan-invasion-value {
  margin-left: 3px;
}

.dgt-navigation-scan-structures {
  float: left !important;
  line-height: 14px !important;
  width: 100px !important;
  border-collapse: collapse;
  margin-top: 46px;
  position: absolute;
  background: #000000b8;
}

.dgt-navigation-scan-structures-data td {
  color: #fff;
  min-width: 25%;
  font-size: 11px;
  padding-left: 5px;
  text-align: left;
}

.dgt-navigation-scan-structures-data .invasion-value {
  padding-left: 0 !important;
}


.dgt-navigation-scan-structures-data .hb,
.dgt-navigation-scan-structures-data .st,
.dgt-navigation-scan-structures-data .jg {
  color: #0ca1e1 !important;
}

.dgt-navigation-scan-structures-data .cs {
  color: #e46045 !important;
}

/******/

.width100 {
  width: 100px;
}

.structureImageSmall {
  height: 32px !important;
  width: 42px !important;
}

.structureImageSmall img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  padding: 0 !important;
  border-radius: 5px;
  border: 1px solid #767676;
}

.structureImage {
  height: 52px !important;
  width: 62px !important;
}

.structureImage img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  padding: 0 !important;
  border-radius: 5px;
  border: 1px solid #767676;
}


#completed {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 5px !important;
}

#completed .upkeepList span,
#completed .upkeepList fa-icon {
  font-size: 1em;
}

.entry.queueItem .name {
  font-weight: normal;
  height: 32px;
  line-height: 32px;
}

label.queueDownButton,
label.queueUpButton,
label.queueDestroyButton {
  background: none !important;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  display: inline-flex;
}
.entry.queueItem .width25 {
  height: 32px;
  line-height: 32px;
}

#queue {
  margin-bottom: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none !important;
  margin-left: 5px !important;
}

#queue .lightBorderBottom {
  border-bottom: none !important;
}

#queue .width25.icon fa-icon svg {
  fill: #fff !important;
}

#queue .header {
  padding: 5px 5px 6px 5px !important;
}

#queue .header>img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#queue form .tableHeader {
  min-height: 26px !important;
  border-bottom: 1px solid #787878 !important;
}

#queue form .padding {
  font-style: italic;
  color: #ffd46fd4 !important;
}

#queue form .width25.icon {
  line-height: 21px !important;
}

#queue form .queueButtons label {
  background: none !important;
  font-size: 18px !important;
  height: 32px !important;
  margin: auto !important;
  display: inline-flex !important;
  align-items: center !important;
}

#queue form .queueButtons {
  padding-right: 5px;
}

.consList label.queueDestroyButton {
  background: none !important;
  font-size: 18px !important;
  height: 34px !important;
  margin: auto !important;
  display: inline-flex !important;
  align-items: center !important;
}

.rotation45 svg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.queueDownButton,
label.queueUpButton,
label.queueDestroyButton {
  border-radius: 100px;
}

label.queueDownButton svg,
label.queueUpButton svg,
label.queueDestroyButton svg {
  fill: #a2a2a2;
  border-radius: 100px;
}

label.queueDownButton svg:hover,
label.queueUpButton svg:hover,
label.queueDestroyButton svg:hover {
  background: rgba(53,49,49,1);
  fill: #eee;
}

label.queueDownButton:hover,
label.queueUpButton:hover,
label.queueDestroyButton:hover {
  cursor: pointer;
}

.consList .nameCol {
  width: 160px !important;
}

.consList .left {
  line-height: 26px !important;
  height: 32px;
  margin: auto;
  display: flex;
  align-items: center;
}

#planetHeader .planetName {
  font-size: 18px;
  line-height: 26px;
  color: #ffd46f;
  font-weight: 700;
  float: left;
  display: flex;
}

#planetHeader .planetName .dgt-planet-name {
  font-size: 18px;
  line-height: 24px;
  color: #ffd46f;
  font-weight: bold;
  float: left;
  display: flex;
}

#planetHeader .planetName .dgt-planet-prev {
  font-size: 18px !important;
  line-height: 22px !important;
  padding: 0 !important;
  margin-right: 5px !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
}

#planetHeader .planetName .dgt-planet-next {
  font-size: 18px !important;
  line-height: 23px !important;
  padding: 0 !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
  margin-left: 5px;
}

#planetHeader .planetName svg {
  vertical-align: bottom;
  fill: #a2a2a2 !important;
}

#planetHeader .planetName .dgt-planet-prev:hover svg,
#planetHeader .planetName .dgt-planet-next:hover svg {
  fill: #ffffffcf !important;
}

.planetHeadSection .resourceName .seperatorRight {
  margin-right: 4px;
}

#addQueue .error {
  border-radius: 0 !important;
}

#addQueue .green {
  background-color: #7BBD1A3D !important;
  margin-left: 0 !important;
  color: #ffffffad !important;
  padding: 5px 10px !important;
  border: none !important;
  border-radius: 0 !important;
}

#addQueue .lightBorderBottom {
  border-bottom: none !important;
}

#addQueue .consList .icon.width24 {
  font-size: 12px;
  line-height: 20px;
}

#addQueue .consList .icon.width24 svg {
  fill: #ffffff;
}

#addQueue .prequeue fa-icon > svg,
#addQueue .queueDestroyButton.rotation45.researchQueue svg {
  fill: #7BBD1A;
  border-radius: 100px;
}

#addQueue .prequeue fa-icon {
  color: #7BBD1A;
  border-radius: 100px;
}

#addQueue .prequeue fa-icon > svg:hover,
#addQueue .queueDestroyButton.rotation45.researchQueue svg:hover {
  background: #7bbd1a2b;
  fill: #7bbd1a !important;
}

#addQueue .prequeue fa-icon {
  background: #7bbd1a2b;
  color: #7bbd1a !important;
}

#addQueue .tableHeader fa-icon {
  padding-left: 3px !important;
}

#addQueue .tableHeader div {
  padding: 5px 0 5px 0 !important;
}

#addQueue .prequeue {
  border: none !important;
}

#addQueue .tableHeader {
  border-bottom: 1px solid #787878 !important;
}

#planetHeader {
  border-radius: 5px;
  height: 180px !important;
  max-height: 180px !important;
  min-height: 180px !important;
  padding: 0;
  border: 1px solid #545454;
}

#planetHeader .planetHeadSection {
  padding: 0 !important;
}

#planetHeader .planetHeadSection .padding {
  border: none !important;
  border-top-right-radius: 5px;
  padding-left: 5px !important;
}

#planetHeader .planetHeadSection:nth-child(3) {
  border-bottom: 1px solid #545454;
  height: 102px !important;
}

#planetHeader .planetHeadSection:nth-child(3) .padding {
  border-top-right-radius: 0;
  padding-left: 7px !important;
  height: 102px !important;
}

#planetHeader .planetHeadSection .coords {
  border: none !important;
  padding: 0 !important;
  margin: 5px 5px 0 0 !important;
  background: none !important;
}
#planetHeader .planetHeadSection .coords>div {
  margin-right: 5px !important;
}

#planetHeader .planetHeadSection .coords img {
  height: 13px !important;
  width: 13px !important;
  padding: 1px !important;
}

.qtip-content .resourceName span,
#completed .upkeepList span,
#planetHeader .planetHeadSection .coords,
#planetHeader .resourceName span,
#planetHeader .resource span {
  line-height: 16px !important;
  padding-left: 2px !important;
}

.qtip-content .resourceName img,
#completed .upkeepList img,
#addQueue .icon img,
#planetHeader .planetHeadSection .coords img,
#planetHeader .resourceName img,
#planetHeader .resource img {
  border-radius: 3px;
  border: 1px solid #767676;
  height: 15px;
  width: 15px;
}

#planetHeader .planetHeadSection .coords img {
  border: 1px solid #767676 !important;
}

#planetHeader #planetImage {
  margin-right: 0 !important;
  height: 180px !important;
}

#planetHeader #planetImage img {
  height: 180px;
  width: 180px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.dgt-planet-new-coords-big {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  width: 169px;
  margin-top: 148px;
  font-size: 11px;
  padding: 3px 5px;
  background: #00000091;
  border-bottom-left-radius: 5px;
  color: #ffffffad;
  text-align: center;
  line-height: 26px;
}

.dgt-planet-new-coords-big img {
  height: 13px !important;
  width: 13px !important;
  padding: 1px !important;
  border-radius: 3px !important;
  border: 1px solid #767676 !important;
  margin-right: 5px !important;
}

.dgt-planet-new-coords-big span {
  font-size: 14px;
}

#completed .lightBorderBottom {
  border-bottom: none !important;
}

#completed .upkeepList span {
  padding-left: 4px !important;
}

#completed .upkeepList img {
  float: left;
}

#completed form .entry > div:nth-child(2) {
  padding-top: 4px !important;
  line-height: 20px !important;
}

#completed .header>img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#completed .header {
  padding: 5px !important;
}

#completed form .queueButtons label {
  background: none !important;
  font-size: 18px !important;
  height: 50px !important;
  margin: auto !important;
  display: inline-flex !important;
  align-items: center !important;
}

#completed form .queueButtons {
  padding-right: 5px !important;
}

/*******/

#playerBox {
  border-radius: 5px;
  margin-top: 5px !important;
}

#playerBox .header {
  padding-left: 0 !important;
}

#playerBox .icons div:nth-child(1) img {
  border: 1px solid #767676 !important;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  margin: 0;
  padding: 1px 2px;
}

#playerBox .icons a:nth-child(3):hover img,
#playerBox .icons div:nth-child(2) a:hover img,
#playerBox .icons div:nth-child(1) a:hover img {
  background: rgba(53,49,49,1);
  border: 1px solid rgb(53,49,49,1) !important;
}

#playerBox .icons div:nth-child(2) img {
  border: 1px solid #767676 !important;
  height: 20px;
  width: 24px;
  border-radius: 3px;
  margin: 0;
  padding: 1px 0;
}

#playerBox #mailBox {
  background: #FF3B30 !important;
  top: -2px !important;
  border-radius: 100px !important;
  padding: 2px !important;
  color: #fff !important;
  font-size: 9px !important;
  line-height: 6px !important;
  height: 8px !important;
  display: inline-block !important;
  width: 8px !important;
  position: absolute !important;
  text-align: center !important;
  left: 14px !important;
}

#playerBox .icons a:nth-child(3) img {
  border: 1px solid #767676 !important;
  height: 18px;
  width: 20px;
  border-radius: 3px;
  margin: 0;
  padding: 2px !important;
  object-fit: contain;
}

#playerBox .icons a {
  margin-left: 5px;
}

#playerBox .header {
  line-height: 32px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#playerBox .header > div:first-child {
  margin-left: 5px;
}

#playerBox .header > div,
#playerBox .header > div > a > img {
  border-radius: 100px;
}

#playerBox .header > div > a > img {
  object-fit: cover;
}

#turnStatus {
  font-weight: normal !important;
}

/********/
dgt-fleet-orders-list-panel,
dgt-alliance-orders-manager-panel {
  display: grid;
  position: relative;
}

dgt-fleet-orders-list-panel {
  background: rgba(75, 75, 75, 0.6) !important;
}

.allianceBox {
  margin-bottom: 5px !important;
}

.allianceBox:last-child {
  margin-bottom: 0 !important;
}

.allianceAnnouncementBox {
  border: none !important;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0 !important;
}

.allianceAnnouncementBox .allianceAnnouncement {
  padding: 0 !important;
  line-height: 30px;
  background: rgba(87,87,87,.72);
  color: #ffffffad;
  font-weight: bold;
}

.allianceAnnouncementBox p {
  text-align: center;
}

/*******************/
.dgt-research-points {
  color: #ffd46f !important;
  font-weight: bold;
}

#queue .researchTitle {
  width: 130px !important;
  margin-top: 5px !important;
}

#queue .researchTitle.planet-limit {
  height: 85px !important;
}

.dgt-research-padding {
  padding: 2px 5px !important;
}

.researchButton {
  border-radius: 3px;
  border: 1px solid #767676;
  width: 44px;
  height: 44px;
}

.researchButton.researchNotAvailable .researchImage img {
  filter: grayscale(100%);
}

.researchButton.researchDone::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c490061;
  border-radius: 3px;
}

.researchButton.researchDone img {
  filter: grayscale(100%);
}

.researchButton .researchImage img {
  border-radius: 3px;
  width: 44px;
  height: 44px;
}

.researchButton .infoBack {
  border-radius: 3px 3px 0 0;
  height: 22px;
  width: 44px;
  top: 0 !important;
}

.researchButton.researchQueued.infoBack {
  height: 100%;
  border-radius: 3px !important;
}

.researchButton .infoIcon {
  left: 4px;
  font-size: 11px;
  line-height: 22px;
  top: 0 !important;
}

.researchButton .infoIcon fa-icon {
  color: #dcdcdc !important;
}

.researchButton .infoIcon svg {
  fill: #dcdcdc !important;
}

.researchButton .infoText {
  font-size: 11px;
  line-height: 20px;
  right: 4px;
  color: #dcdcdc;
  top: 0 !important;
}

.researchButton .infoText.queuePosition {
  bottom: 0 !important;
  top: auto !important;
}

.researchQueued {
  border-color: #7bbd1a !important;
}

.researchQueued .infoBack {
  height: 100% !important;
  border-radius: 3px !important;
}

#dgt-research-description {
  border-radius: 5px;
}

#dgt-research-form > div {
  margin-left: 0 !important;
}

#dgt-research-form > div > div {
  border-radius: 5px;
}

/****/

#welcome p {
  margin: 0 !important;
  padding: 5px 10px !important;
}

#general-info ul,
#known-issues ul {
  padding: 10px 10px 10px 30px;
}

#known-issues ul li,
#general-info ul li {
  color: #fff !important;
  font-size: 13px !important;
}

#welcome,
#general-info,
#known-issues {
  margin-bottom: 5px;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  background: rgba(75,75,75,1);
}

#known-issues h2,
#general-info h2,
#welcome .plainHeader {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #5e5e5e;
  margin-bottom: 6px;
  padding: 5px;
}

#home-stats {
  width: 220px !important;
}

#news-list {
  margin-right: 225px !important;
}

#home-stats div.opacBackground.lightBorder {
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  margin-bottom: 5px !important;
}

#home-stats div.opacBackground.lightBorder .padding {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #5e5e5e;
  padding: 5px;
  background: rgba(75,75,75,1);
}

#home-stats div.opacBackground.lightBorder .noPadding,
#home-stats div.opacBackground.lightBorder .content {
  background: rgba(75,75,75,1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#home-stats .content .stat,
#home-stats div.opacBackground.lightBorder .noPadding > div {
  padding: 0 !important;
  margin: 0 5px !important;
  line-height: 17px;
}

#home-stats .content .stat:first-child,
#home-stats div.opacBackground.lightBorder .noPadding > div:first-child {
  margin-top: 5px !important;
  line-height: 17px;
}

#home-stats .content .stat:last-child,
#home-stats div.opacBackground.lightBorder .noPadding > div:last-child {
  margin-bottom: 5px !important;
  line-height: 17px;
}

#home-stats div.opacBackground.lightBorder .noPadding > div,
#home-stats .content .stat .name,
#home-stats .content .stat .value {
  font-weight: normal !important;
  padding: 0 !important;
}

#known-issues {
  margin-bottom: 0 !important;
}

/********/

#fleets-list {
  padding: 5px !important;
}

#fleets-list > #fleetList {
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  padding: 0 !important;
  margin: 0 !important;
}

#fleets-list > div:not(#fleetList) > div:first-child {
  height: 72px !important;
  width: 72px !important;
  padding: 0;
}

#fleets-list > div:not(#fleetList) > div > img {
  height: 72px !important;
  width: 72px !important;
}

#fleets-list > div:not(#fleetList) > div:last-child {
  padding-left: 5px;
}

#fleets-list .tableHeader {
  border-bottom: 1px solid #5e5e5e;
  padding: 5px !important;
  background: rgba(255, 255, 255, 0.15);
}

#fleets-list .tableHeader > div:first-child {
  padding: 0 !important;
  width: 0 !important;
}

#fleets-list .tableHeader .name,
#fleets-list .tableHeader .activity {
  padding: 0 !important;
  line-height: 24px !important;
  min-width: 250px !important;
}

#fleets-list .opacBackground.entry,
#fleets-list .opacLightBackground.entry {
  padding: 5px !important;
}

#fleets-list .activity > .left {
  line-height: 24px !important;
  height: 24px !important;
}

#fleets-list .activity .coords {
  border: none;
  background: none;
  line-height: 24px;
  padding: 0 !important;
  height: 24px;
}

#fleets-list .activity .coords .left {
  padding: 0 !important;
  line-height: 22px !important;
}

#fleets-list .activity .coords img {
  vertical-align: middle;
  line-height: 24px;
}

/*************/
#fleetQueue {
  margin-bottom: 0 !important;
  width: 550px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none !important;
}

#fleetQueue .tableHeader {
  border-bottom: 1px solid #5e5e5e;
  padding: 0 5px;
}

#fleetQueue .tableHeader > div:first-child {
  width: 0 !important;
}

#fleetQueue .tableHeader > div {
  padding: 0;
  height: 24px !important;
  line-height: 24px !important;
}

#fleetQueue .tableHeader svg {
  fill: #fff !important;
}

#queue-actions-left {
  width: 550px !important;
  border-top: none !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

#queue-actions-left .fleetLeftInner {
  border: none !important;
  width: 550px !important;
  margin-bottom: 0 !important;
}

#queue-actions-right .header,
#queue-actions-left .header,
#fleetQueue .header {
  padding: 5px !important;
}

#queue-actions-left .fleetLeftInner .header img,
#queue-actions-left form .header img,
#queue-actions-right > .fleetRight .header img,
#queue-actions-right > .fleetRight .header img,
#fleetQueue .header img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#queue-actions-left > .padding,
#queue-actions-left {
  padding: 0 !important;
  margin: 0 !important;
}

#queue-actions-left > .header {
  display: none !important;
}

#queue-actions-left > div > form > div {
  margin:0 !important;
  padding: 0 !important;
  width: 275px !important;
  border: none !important;
}

#queue-actions-left > div > form .error {
  border-radius: 0 !important;
}

#queue-actions-right > .fleetRight {
  margin-bottom: 0 !important;
  border-bottom: none !important;
  border-top: none !important;
}

#queue-actions-right > .fleetRight:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #545454 !important;
}

#queue-actions-right > .fleetRight:last-child {
  border-top: none !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #545454 !important;
}

#colonise-planet .population,
#destroy-fleet .hostile {
  color: #fff !important;
}

#destroy-fleet .lightBorderBottom {
  background: #6a3c39 !important;
  color: #ffffffad !important;
}

#destroy-fleet .lightBorderBottom span {
  color: #ffffffad !important;
  font-weight: bold;
}

#colonise-planet button,
#transfer-targets button,
#destroy-fleet button {
  padding: 0 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
  float: right;
}

#colonise-planet button:hover,
#transfer-targets button:hover,
#destroy-fleet button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454;
}

#colonise-planet input,
#transfer-targets input {
  height: 23px;
  font-size: 12px;
  background: rgba(0,0,0,.25);
  color: #fff;
  border: 1px solid #636363 !important;
  margin: 0 2px;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
  width: 120px;
  text-align: left;
}

#colonise-planet form label,
#transfer-targets label {
  float: left;
  height: 23px;
  line-height: 21px;
}

#queue-actions-right {
  width: 373px !important;
}

#fleetQueue .coords,
#queue-actions-right .coords,
#queue-actions-left .coords {
  border: none;
  background: none;
  line-height: 24px;
  padding: 0 !important;
  height: 24px;
}

#fleetQueue .coords .left,
#queue-actions-right .coords .left,
#queue-actions-left .coords .left {
  padding: 0 !important;
  line-height: 22px !important;
}

#fleetQueue .coords img,
#queue-actions-right .coords img,
#queue-actions-left .coords img {
  vertical-align: middle;
  line-height: 24px;
}

#fleetQueue form .entry > div {
  height: auto !important;
  line-height: 24px !important;
  padding: 0;
}

#fleetQueue form .entry > .queueButtons {
  height: 24px !important;
}

#fleetQueue form .entry {
  padding: 5px !important;
}

#fleetQueue .tableHeader .nameColumn,
#fleetQueue form .nameColumn {
  width: 422px !important;
  padding: 0 !important;
}

#fleetQueue form .nameColumn div {
  font-weight: normal !important;
}

#fleetQueue .tableHeader .width50 {
  width: 30px !important;
  line-height: 28px !important;
}

#fleetQueue form .width50 {
  width: 28px !important;
  padding-left: 2px !important;
}

#fleetQueue .tableHeader .width30 {
  font-weight: bold;
}

#fleetQueue .tableHeader .width30,
#fleetQueue form .width30 {
  width: 20px !important;
}

#fleetQueue form .queueButtons {
  width: 68px !important;
}

#fleetQueue form .queueButtons label {
  background: none !important;
  font-size: 20px !important;
  height: 24px !important;
  margin: auto !important;
  display: inline-flex !important;
  align-items: center !important;
}

#fleet-wait,
#fleet-move-coords {
  display: flex;
}

#fleet-move-coords-icon,
#fleet-wait-icon,
#fleet-move-planet-icon {
  width: 20px !important;
  margin: 0 !important;
}

#fleet-wait-icon > .left:first-child,
#fleet-move-coords-icon > .left:first-child,
#fleet-move-planet-icon > .left:first-child {
  line-height: 20px !important;
}

#fleet-wait-icon fa-icon {
  margin-left: 1px !important;
  font-size: 15px !important;
  line-height: 25px;
}

#fleet-wait-icon svg {
  fill: #fff;
}

#fleet-move-coords-icon > .left:last-child,
#fleet-wait-icon > .left:last-child,
#fleet-move-planet-icon > .left:last-child {
  display: none;
}

#fleet-wait input,
#fleet-move-coords input {
  height: 23px;
  font-size: 12px;
  background: rgba(0,0,0,.25);
  color: #fff;
  border: 1px solid #545454 !important;
  margin: 0 2px;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
  width: 28px;
  text-align: center;
}

#transferDrop,
#fleet-move-planet select {
  height: 23px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #545454 !important;
  margin: 0 2px;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 15px;
  width: 137px;
  text-align: left;
  background: rgba(0,0,0,.25) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%23ffffff" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"/></svg>') right 1rem center/8px 10px no-repeat;
  appearance: none;
}

#queue-actions-left .fleetLeftInnerSmall .tableHeader {
  border-bottom: 1px solid #5e5e5e;
}

#queue-actions-left .fleetLeftInnerSmall .title:first-child {
  width: 93px !important;
}

#target-transfer .amount input[type="number"],
#source-transfer .amount input[type="number"],
#queue-actions-left .amount input[type="number"] {
  height: 23px;
  font-size: 12px;
  background: rgba(0,0,0,.25);
  color: #fff;
  border: 1px solid #545454 !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
  width: 60px;
  text-align: left;
  margin: 0 !important;
  border-left: none !important;
}

#queue-actions-left .transferRow > div:nth-child(2) {
  margin: 0;
  padding: 0;
  height: 23px !important;
  width: 63px !important;
}

#target-transfer .transferRow > div img,
#source-transfer .transferRow > div img,
#queue-actions-left .transferRow > div img {
  width: 21px;
  height: 21px;
  border: 1px solid #545454;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#target-transfer .transferRow,
#source-transfer .transferRow {
  height: 23px !important;
}

#source-transfer > .header,
#target-transfer > .header {
  padding: 5px !important;
}

#source-transfer > .header img,
#target-transfer > .header img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#target-transfer .transferRow .left.text {
  margin-left: 0 !important;
}

#target-transfer .transferRow .left.text,
#source-transfer .transferRow .left.text,
#queue-actions-left .transferRow .left.text {
  height: 23px;
  line-height: 23px !important;
  margin-left: 3px;
}

#queue-actions-right .entry {
  padding: 5px !important;
}

#queue-actions-right .ship-entry .structureImage {
  width: 32px !important;
  height: 32px !important;
  margin-right: 5px !important;
}

#queue-actions-right .ship-entry .structureImage img {
  width: 30px;
  height: 30px;
  margin-left: 0 !important;
}

#queue-actions-right .ship-entry > div:last-child {
  line-height: 32px !important;
}

#queue-actions-right .resource-entry .left:first-child {
  width: 23px !important;
  height: 23px !important;
  margin-right: 5px !important;
}

#queue-actions-right .resource-entry .left:first-child img {
  width: 21px;
  height: 21px;
  margin-left: 0 !important;
  border: 1px solid #767676;
  border-radius: 3px;
}

#queue-actions-right .resource-entry > div:last-child {
  line-height: 23px !important;
}

#queue-actions-left button {
  padding: 0 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0 2px 0 10px !important;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
  min-width: 65px !important;
}

#queue-actions-left button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454;
}

#queue-actions-left #fleet-radio-check div:first-child {
  line-height: 22px !important;
}

#queue-actions-left #fleet-radio-check div:last-child {
  line-height: 24px !important;
}

#queue-actions-left button[name="isLoad"] {
  float: left !important;
  margin: 5px !important;
}

#queue-actions-left > div > form > div:last-child .right {
  float: left !important;
}

.fleet-navigation {
  border: none;
  height: 0;
  padding: 0;
  margin: 0 !important;
  float: left;
  width: auto;
}

#fleet-right-nav {
  width: 26px !important;
  height: 26px !important;
  font-size: 22px !important;
  line-height: 34px !important;
  padding: 0 !important;
  margin-top: 5px !important;
  margin-left: 0 !important;
  margin-right: 5px !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
  float: left !important;
}

#fleet-left-nav {
  width: 26px !important;
  height: 26px !important;
  font-size: 22px !important;
  line-height: 34px !important;
  padding: 0 !important;
  margin-top: 5px !important;
  margin-left: 5px !important;
  margin-right: 0 !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
  float: left !important;
}

#fleet-right-nav svg,
#fleet-left-nav svg {
  fill: #a2a2a2 !important;
}

#fleet-left-nav:hover svg,
#fleet-right-nav:hover svg {
  fill: #ffffffcf !important;
}

#dgt-fleet-funny-span {
  float: right;
  margin-right: 7px;
  font-family: Tahoma, sans-serif;
  font-size: 13px !important;
  text-shadow: none !important;
  color: #ffd46f;
  font-weight: bold;
}

#target-transfer {
  width: 461px !important;
  border-radius: 5px;
}

#source-transfer {
  width: 461px !important;
  float: right;
  border-radius: 5px;
}

#fleetHeader {
  border-radius: 5px;
}

#fleetHeader > .left {
  margin-left: 5px;
}

#fleetHeader > .left .coords {
  border: none !important;
  background: transparent !important;
  margin: 0 !important;
  line-height: 36px !important;
  height: 38px !important;
}

#fleetHeader > .left .coords > div {
  line-height: 32px;
}

#fleetHeader > .left .coords > div img {
  vertical-align: middle;
}

#target-transfer .transferRow > .left:not(.text) {
  float: right !important;
}

#source-transfer button {
  padding: 0 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0 2px 0 0 !important;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
}
#target-transfer button {
  padding: 0 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0 0 0 10px !important;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
}

#source-transfer button:hover,
#target-transfer button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454;
}

#transferDrop {
  height: 30px !important;
  width: 170px !important;
}

#source-transfer .header > .right {
  height: 30px;
  line-height: 30px;
  margin-top: 3px;
}

#source-transfer .dgt-max-button,
#queue-actions-left .dgt-max-button {
  float: left;
}

#target-transfer .dgt-max-button {
  float: right;
}

#target-transfer .dgt-max-button svg,
#source-transfer .dgt-max-button svg {
  margin-left: 3px !important;
  padding: 4px !important;
  border-radius: 3px !important;
  border: 1px solid #545454 !important;
  font-size: 13px !important;
  fill: #ffffffc7;
}

#queue-actions-left .dgt-max-button svg {
  margin-left: 1px !important;
  padding: 4px !important;
  border-radius: 3px !important;
  border: 1px solid #545454 !important;
  font-size: 13px !important;
  fill: #ffffffc7;
}

#target-transfer .dgt-max-button svg:hover,
#source-transfer .dgt-max-button svg:hover,
#queue-actions-left .dgt-max-button svg:hover {
  background: rgb(45, 43, 43) !important;
  border: 1px solid rgb(53,49,49,1) !important;
  cursor: pointer;
}

/*************/

#planet-scan-form > div {
  width: calc(100% - 10px) !important;
  padding: 5px !important;
  display: block;
}

dgt-scans-collector {
  float: left;
  padding: 0 !important;
  width: 100% !important;
}

#planet-scan-form-wrapper {
  border-radius: 5px;
}

#planet-scan-form .tableHeader {
  display: flex !important;
  border-bottom: 1px solid #787878 !important;

}

#planet-scan-form .tableHeader div:first-child {
  padding: 0 !important;
  width: 50%;
  float: left;
}

#planet-scan-form .tableHeader div:last-child {
  padding: 0 !important;
  width: 50%;
  float: right;
  text-align: right;
}

#dgt-scan-buttons-wrapper {
  padding-left: 0 !important;
  margin-left: 5px !important;
}

#dgt-scan-system-button,
#dgt-scan-next-button {
  margin-left: 5px !important;
}

#planet-scan-form button {
  padding: 0px 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0;
  height: 23px;
  line-height: 20px;
  font-size: 13px;
}

#planet-scan-form button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454;
}

#planet-scan-form .coordsInput>div {
  float: right !important;
  width: auto !important;
  border: none !important;
}

#planet-scan-form .coordsInput input {
  height: 23px;
  font-size: 12px;
  background: rgba(0,0,0,.25);
  color: #fff;
  border: 1px solid #636363 !important;
  margin: 0 2px;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
  width: 28px;
  text-align: center;
}

#planet-scan-form .coordsInput input:first-child {
  margin-left: 0 !important;
}

#planet-scan-form .coordsInput input:last-child {
  margin-right: 0 !important;
}

#planet-scan-form .coordsInput>div:nth-child(2) {
  display: flex !important;
}

#planet-scan-form .coordsInput .coords {
  width: auto !important;
  border: none !important;
  padding: 0 2px !important;
  height: auto !important;
}

#planet-scan-form .coordsInput .coords>div {
  height: 23px !important;
}

#planet-scan-form .coordsInput .coords>div:last-child {
  line-height: 23px !important;
}

#planet-scan-form .coordsInput .coords img {
  width: 19px !important;
  height: 19px !important;
  border: 1px solid #767676 !important;
  border-radius: 3px !important;
  padding: 1px !important;
  line-height: 23px !important;
}

#scanned-planet-wrapper {
  border-radius: 5px;
}

#scanned-planet-wrapper .header {
  padding: 5px !important;
}

#scanned-planet-wrapper .header > img {
  float: left;
  margin-right: 6px;
  border: 2px solid #eee;
  border-radius: 100px;
  padding: 3px;
  width: 19px;
  height: 19px;
  margin-top: 3px !important;
}

#scanned-planet-wrapper > .padding {
  padding: 0 !important;
  border: none !important;
}

#scanned-planet-wrapper #planetHeader {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 0 5px 5px;
}

#scanned-planet-wrapper #planetImage img {
  height: 180px !important;
  width: 180px !important;
}

#scanned-planet-wrapper .planetHeadSection:nth-child(2) .padding {
  border-radius: 0 !important;
}

#scanned-planet-wrapper .planetHeadSection:nth-child(3) {
  height: 27px !important;
}

#scanned-planet-wrapper .planetHeadSection:nth-child(4)>div {
  height: 107px;
  border-radius: 0 !important;
}

#planet-scan-additional {
  border: none !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#planet-scan-additional > .left.ofHidden.lightBorder {
  border-radius: 5px !important;
}

#planet-scan-additional > .hostile-fleet {
  background: #4b2b2b !important;
  border: 1px solid #8b2c2c !important;
}

#planet-scan-additional > .friendly-fleet {
    background: #3f4b2f !important;
    border: 1px solid #4c760f !important;
}

#planet-scan-additional > .allied-fleet {
  background: #18354b !important;
  border: 1px solid #0063ad !important;
}

.dgt-fleet-score {
  display: block;
  margin-top: 5px;
  padding-top: 5px;
}

.dgt-fleet-score span {
  color: #ffd46f;
  float: left;
}

.dgt-fleet-score-label {
  width: 120px;
}

#planet-scan-additional > .allied-fleet .dgt-fleet-score {
  border-top: 1px solid #0063ad;
}

#planet-scan-additional > .friendly-fleet .dgt-fleet-score {
  border-top: 1px solid #4c760f;
}

#planet-scan-additional > .hostile-fleet .dgt-fleet-score {
  border-top: 1px solid #8b2c2c;
}

.dgt-fleet .opacBackground,
.dgt-fleet .opacLightBackground {
  background: transparent !important;
  border: none !important;
}

#planet-scan-additional .dgt-fleet,
#planet-scan-additional .dgt-empty {
  padding: 5px !important;
  width: 168px !important;
}

#planet-scan-additional .dgt-fleet > .ofHidden {
  padding: 0 0 10px 0 !important;
  margin-bottom: 5px !important;
}

#planet-scan-additional .hostile-fleet:not(.dgt-empty-fleet) > .ofHidden {
  border-bottom: 1px solid #8b2c2c !important;
}

#planet-scan-additional .friendly-fleet:not(.dgt-empty-fleet) > .ofHidden {
  border-bottom: 1px solid #4c760f !important;
}

#planet-scan-additional .allied-fleet:not(.dgt-empty-fleet) > .ofHidden {
  border-bottom: 1px solid #0063ad !important;
}

#planet-scan-additional .dgt-fleet > .ofHidden .right {
  font-size: 11px !important;
  margin-right: 5px !important;
  color: #ffd46f;
}

#planet-scan-additional .dgt-fleet tr td {
  padding: 0 !important;
  line-height: 20px;
}

#planet-scan-additional .dgt-eta-separator {
  width: 100%;
  height: 5px !important;
  border-bottom: 1px solid #5e5e5e;
  float: left;
  margin-bottom: 5px;
}

#planet-scan-additional .dgt-eta-separator:last-child {
  display: none;
}

.dgt-eta-score {
  float: left;
  margin: 5px 3px;
  padding: 5px;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  width: calc(100% - 18px);
  background: rgb(75,75,75);
}

.dgt-eta-score span {
  color: #ffd46f !important;
}

.dgt-eta-score-label {
  margin-right: 20px;
}

.dgt-eta-score-label.hostile,
.dgt-eta-score-label.allied {
  margin-right: 5px !important;
  color: #fff !important;
}

.dgt-eta-score-value.hostile,
.dgt-eta-score-value.allied {
  color: #fff !important;
}

.dgt-eta-score-value {
  color: #fff !important;
}

.dgt-eta-score-label.hostile {
  margin-left: 10px !important;
}

.dgt-empty-fleet-row td {
  line-height: 20px !important;
  height: 20px !important;
}

.dgt-fight-simulation-info,
.dgt-fight-simulation {
  width: 50% !important;
  float: left;
  min-height: 100px;
}

.dgt-fight-simulation-info-text {
  float: left;
  width: 100%;
  padding: 0 5px;
  line-height: 17px;
}

.dgt-fight-simulator-by-rof {
  border-collapse: collapse;
  width: 100%;
}

.dgt-fight-simulator-by-rof td,
.dgt-fight-simulator-by-rof th {
  border: 1px solid #5e5e5e;
  min-width: 75px;
  padding: 5px;
}

.dgt-fight-simulator-by-rof .invisible {
  border-right: none !important;
}

.dgt-fight-simulator-by-rof .after-invisible {
  border-left: none !important;
}


.dgt-fight-simulator-by-rof .top-header th {
  text-align: center;
}

/********************/

.playerRankingsList {
  display: none !important;
  border-radius: 5px !important;
}

.playerRankingsList .playerName {
  font-weight: normal !important;
  cursor: auto;
}

.playerRankingsList .name {
  width: 70%;
}

.playerRankingsList .score {
  width: 16%;
}

.playerRankingsList .tableHeader {
  border-bottom: 1px solid #787878;
}

.playerRankingsList .rank-row {
  padding: 0 !important;
}

.playerRankingsList .rank-row > div {
  padding: 5px 0;
  line-height: 22px;
}

.playerRankingsList .rank {
  width: 20px !important;
}

.playerRankingsList .tag {
  padding-right: 5px !important;
}

.playerRankingsList .avatar,
.playerRankingsList .rank {
  padding-left: 5px !important;
}

.allied-bg > .rank,
.allied-bg > .tag {
  background: #18354b;
}

.hostile-bg > .rank,
.hostile-bg > .tag {
  background: #4b2b2b;
}

.friendly-bg > .rank,
.friendly-bg > .tag {
  background: #426300;
}

#ranking-navigation {
  margin-bottom: 0 !important;
}

#ranking-navigation > .opacBackground {
  padding: 0 !important;
  border: none !important;
  background: transparent;
}

#ranking-navigation > .opacBackground a {
  width: 26px !important;
  height: 26px !important;
  font-size: 22px !important;
  line-height: 28px !important;
  padding: 0 !important;
  float: right !important;
  text-align: center !important;
  background: transparent !important;
  border: none !important;
  margin: 0 !important;
}

#ranking-navigation > .opacBackground a > svg {
  fill: #a2a2a2 !important;
}

#ranking-navigation > .opacBackground a:hover > svg {
  fill: #ffffffcf !important;
}

#ranking-navigation > .opacDarkBackground {
  border: none !important;
  background: transparent;
  height: 26px;
  padding: 0 5px !important;
  line-height: 22px;
  font-size: 14px;
  color: #a2a2a2 !important;
}

