.component-message {
  color: #ffffffad;
  background: #576740;
  margin: 0 !important;
  padding: 5px !important;
}

.dgt-spinner-container {
  width: 100% !important;
  height: 58px;
  position: relative;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
