.login {
    overflow: hidden;
    background-color: #4b4b4b;
    padding: 10px 90px 10px;
    border-radius: 5px;
    position: relative;
    width: 200px;
}

.login > input {
    display: block;
    border-radius: 3px;
    font-size: 14px;
    background: #fff;
    width: 100%;
    border: 0;
    padding: 7px 7px 7px 10px;
    margin: 5px -10px;
}

.login > button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    width: 80px;
    border: 0;
    padding: 5px 0;
    margin-top: 0;
    margin-left: -5px;
    border-radius: 3px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

.login > button:hover {
    background-color: #f24353;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}
