.logout,
.login {
  overflow: hidden;
  background-color: rgba(75, 75, 75, 0.6);
  position: relative;
}

.login input {
  background: rgba(0, 0, 0, 0.35);
  color: white;
  border: 1px solid #555555;
  padding: 8px;
  margin: 0;
  border-radius: 2px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.logout button,
.login button {
  cursor: pointer;
}

.dgt-logout-button {
  display: none !important;
}

.dgt-login-button {
  min-width: 75px;
  float: left;
}

.dgt-login-with-google-button img {
  width: 20px;
  height: 20px;
  margin: 0;
  vertical-align: middle;
}

.dgt-login-with-google-button {
  margin-left: 5px;
  min-width: 30px;
  padding: 0;
  height: 26px !important;
  float: left;
}

.login a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.login span {
  padding: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: DarkGalaxy, sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 14px;
}
