<ng-container *ngIf="true">
  <div id="dgt-alliances-rankings-wrapper">
    <table id="dgt-rankings-table">
      <thead>
        <tr>
          <th class="rank">#</th>
          <th class="alliance">Tag</th>
          <th class="name">Name</th>
          <th class="members">Count</th>
          <th class="planets" [ngClass]="{'selected':sortKey === 'planets'}">
            <a (click)="orderBy('planets')" href="javascript:void(0);">Planets</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'planets'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'planets'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="g1" [ngClass]="{'selected':sortKey === 'g1Total'}">
            <a (click)="orderBy('g1Total')" href="javascript:void(0);">G1</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'g1Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'g1Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="inner" [ngClass]="{'selected':sortKey === 'g213Total'}">
            <a (click)="orderBy('g213Total')" href="javascript:void(0);">Inner</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'g213Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'g213Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="outer" [ngClass]="{'selected':sortKey === 'g1449Total'}">
            <a (click)="orderBy('g1449Total')" href="javascript:void(0);">Outer</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'g1449Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'g1449Total'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="empty"></th>
          <th class="combat" [ngClass]="{'selected':sortKey === 'combatScore'}">
            <a (click)="orderBy('combatScore')" href="javascript:void(0);">Combat</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'combatScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'combatScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="score" [ngClass]="{'selected':sortKey === 'score'}">
            <a (click)="orderBy('score')" href="javascript:void(0);">Score</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'score'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'score'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="avgScore" [ngClass]="{'selected':sortKey === 'avgScore'}">
            <a (click)="orderBy('avgScore')" href="javascript:void(0);">Avg</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'avgScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'avgScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="combined" [ngClass]="{'selected':sortKey === 'combinedScore'}">
            <a (click)="orderBy('combinedScore')" href="javascript:void(0);">Combo</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'combinedScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'combinedScore'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
          <th class="economy" [ngClass]="{'selected':sortKey === 'economy'}">
            <a (click)="orderBy('economy')" href="javascript:void(0);">Econ</a>
            <svg *ngIf="sortOrder === 'desc' && sortKey === 'economy'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" style="/*! line-height: 22px !important; *//*! margin-top: 10px !important; */"></path></svg>
            <svg *ngIf="sortOrder === 'asc' && sortKey === 'economy'" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alliance of rankings.values()"
            [ngClass]="{
              'neutral':alliance.relation === 'neutral',
              'hostile':alliance.relation === 'hostile',
              'allied':alliance.relation === 'allied',
              'self':alliance.relation === 'self',
              'nap':alliance.relation === 'nap'
            }">
          <td class="rank">{{alliance.rank}}</td>
          <td class="alliance">{{alliance.tag}}</td>
          <td class="name">{{alliance.name}}</td>
          <td class="members">{{alliance.membersCount}}</td>
          <td class="planets" [ngClass]="{'selected':sortKey === 'planets'}"><a href="javascript:void(0);">{{alliance.planets}}</a></td>
          <td class="g1" [ngClass]="{'selected':sortKey === 'g1Total'}"><a href="javascript:void(0);">{{alliance.g1Total}}</a></td>
          <td class="inner" [ngClass]="{'selected':sortKey === 'g213Total'}"><a href="javascript:void(0);">{{alliance.g213Total}}</a></td>
          <td class="outer" [ngClass]="{'selected':sortKey === 'g1449Total'}"><a href="javascript:void(0);">{{alliance.g1449Total}}</a></td>
          <td class="empty"></td>
          <td class="combat" [ngClass]="{'selected':sortKey === 'combatScore'}">{{alliance.combatScore | number:'1.0':'en-US'}}</td>
          <td class="score" [ngClass]="{'selected':sortKey === 'score'}">{{alliance.score | number:'1.0':'en-US'}}</td>
          <td class="avgScore" [ngClass]="{'selected':sortKey === 'avgScore'}">{{alliance.avgScore | number:'1.0':'en-US'}}</td>
          <td class="combined" [ngClass]="{'selected':sortKey === 'combinedScore'}">{{alliance.combinedScore | number:'1.0':'en-US'}}</td>
          <td class="economy" [ngClass]="{'selected':sortKey === 'economy'}">{{alliance.economy | number:'1.0':'en-US'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
