<ng-container *ngIf="true">
  <div id="dgt-players-rankings-wrapper">
    <table id="dgt-rankings-table">
      <thead>
        <tr>
          <th class="rank">#</th>
          <th class="alliance">Tag</th>
          <th class="name">Player</th>
          <th class="members">Members</th>
          <th class="planets">Planets</th>
          <th class="g1">G1</th>
          <th class="inner">Inner</th>
          <th class="outer">Outer</th>
          <th class="combat">Combat</th>
          <th class="score">Score</th>
          <th class="average">Avg</th>
          <th class="combined">Combined</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</ng-container>
