<ng-container *ngIf="authenticated">
  <div id="dgt-update-data" class="hide dgt-overlay-modal" #dgtUpdatingModel>
    <div id="dgt-update-message"><span>Downloading DGT metadata updates...</span><img src="https://i.imgur.com/a6OzUZb.png" alt="beer"/>
    </div>
  </div>
  <div id="dgt-load-rankings-overlay-modal" class="hide dgt-overlay-modal" #rankingsLoadModal>
    <div class="dgt-display-info">
      <div class="counter">
        <span class="rankings-counter">{{loadedRankings}}</span>
      </div>
      <div class="progressbar">
        <span class="percentage">{{playersPercentage}}%</span>
        <span class="progress" #playersProgressBar></span>
      </div>
    </div>
  </div>

  <audio src="https://github.com/vberezan/dg-toolbox/blob/development/angular/toolbox-app/src/assets/sounds/bts-operational.mp3"></audio>
</ng-container>
