#dgt-load-planets-overlay-modal .dgt-display-info{
  height: 90px;
}

#dgt-load-rankings-overlay-modal .dgt-display-info {
  height: 90px;
}

.dgt-display-info {
  margin: auto;
  width: 300px;
  left: calc(50% - 150px);
  top: calc(50% - 45px);
  border: 1px solid #576740;
  border-radius: 5px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  background: #576740;
  position: fixed;
}

.progressbar {
  position: relative;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 10px auto;
  height: 20px;
  background: #5c5c5c;
  overflow: hidden;
  border-radius: 5px;
}

.actions button {
  padding: 0 15px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: rgb(75, 75, 75);
  cursor: pointer;
  width: auto;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
  min-width: 65px !important;
}

.actions button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454;
}

span.progress {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: all .3s;
  height: 100%;
  background: #576740 !important;
}

span.percentage {
  width: 100%;
  position: relative;
  float: left;
  background: transparent;
  z-index: 9999;
  height: 100%;
  line-height: 20px;
  color: #fff;
  font-size: 15px;
}

.counter span {
  color: #fff;
  font-size: 14px;
}

span.system-counter,
span.planet-counter {
  transition: all .1s;
  color: #fff;
}

.load-example {
  display: table;
}

.load-example {
  font-weight: normal !important;
  background: #576740 !important;
  color: #ffffffad !important;
  font-size: 11px;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.load-example .usage-warning {
  float: left;
}

.load-example ul {
  float: left;
}

#admin-load-rankings,
#admin-load-planets {
  padding: 5px !important;
  display: inline-table;
}

#admin-load-planets input {
  height: 24px;
  font-size: 12px;
  background: rgba(0,0,0,.4);
  color: #fff;
  border: 1px solid #767676 !important;
  margin: 0;
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
  overflow: hidden;
  float: left;
  line-height: 18px;
  width: 120px;
  text-align: left;
}

#admin-load-rankings button,
#admin-load-planets button {
  padding: 0 15px;
  border: 1px solid #767676 !important;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  width: auto;
  margin: 0 !important;
  height: 24px;
  line-height: 20px;
  font-size: 13px;
  min-width: 65px !important;
  float: right;
}

#admin-load-rankings button:hover,
#admin-load-planets button:hover {
  background: rgb(45, 45, 45);
  border: 1px solid #545454 !important;
}

#admin-load-rankings button {
  float: left !important;
}

#admin-load-separator {
  border-bottom: 1px solid #5e5e5e;
}
