<ng-container *ngIf="authenticated">
  <div id="dgt-admin-panel-wrapper" class="opacBackground lightBorder noPadding seperatorLarge">
    <div id="dgt-admin-panel-header" class="opacDarkBackground padding">
      <b style="color: #ffd46f !important;">DGT Admin Panel</b>
    </div>
    <div id="dgt-admin-panel-body" class="noPadding ofHidden">
      <div id="admin-load-planets">
        <div class="load-example">
          <span class="usage-warning" style="color: #ffd46f !important;"><b>Universe Scan</b></span>
          <span class="usage-warning">Usage:</span>
          <ul>
            <li>44 - G44 only</li>
            <li>1,2,3 - G01, G02 & G03</li>
            <li>213 - Inner (G02-G13)</li>
            <li>1449 - Outer (G14-G49)</li>
            <li>149 - All (G01-G49)</li>
          </ul>
        </div>
        <form>
          <input [(ngModel)]="controls.galaxies" type="text" placeholder="Galaxies (Ex: 1,2)" dgtAllianceList/>
          <button (click)="scanNavigationScreen();" type="submit">Fetch</button>
        </form>
      </div>
<!--      <span id="admin-load-separator"></span>-->
    </div>
  </div>
  <div id="dgt-load-planets-overlay-modal" class="hide dgt-overlay-modal" #planetsLoadModal>
    <div class="dgt-display-info">
      <div class="counter">
        <span class="system-counter">{{loadedSystem}}</span>
        <span class="planet-counter" #planetCounter>{{loadedPlanet}}</span>
      </div>
      <div class="progressbar">
        <span class="percentage">{{planetPercentage}}%</span>
        <span class="progress" #planetProgressBar></span>
      </div>
      <div class="actions">
        <button type="button" (click)="cancelScan()">Cancel</button>
      </div>
    </div>
  </div>
</ng-container>
