.component-message {
  color: #ffffffad;
  background: #576740;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

.component-warning {
  color: #ffffffad;
  background: #FF3B303B;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

.dgt-spinner-container {
  width: 100% !important;
  height: 58px;
  position: relative;
  margin-bottom: 5px !important;
  border-radius: 5px !important;
}

img {
  height: 20px;
  margin-bottom: -6px;
  margin-top: -6px;
}
